.brush-types {
  &__wrapper {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    opacity: 1;
    padding: 1em;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    width: auto;
    &:after {
      border: 4px solid transparent;
      border-top-color: #f2f2f2;
      border-top-style: solid;
      bottom: -8px;
      content: '';
      display: inline-block;
      left: 50%;
      margin-left: -4px;
      position: absolute;
      transition: border-color 0.3s;
    }
  }
  &__circle-shapes-container {
    align-items: center;
    display: flex;
    height: 2.5em;
    justify-content: space-between;
    width: 152px;
  }
  &__square-shapes-container {
    align-items: center;
    display: flex;
    height: 2.5em;
    justify-content: space-between;
    width: 152px;;
  }
  &__brush-button {
    background: white;
    border: 1px solid #c8c8c8;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    outline: none;
    vertical-align: middle;
    &--circle {
      border-radius: 50%;
    }
    &--large {
      height: 2.5em;
      width: 2.5em;
    }
    &--medium {
      height: 2em;
      width: 2em;
    }
    &--small {
      height: 1.5em;
      width: 1.5em;
    }
    &--tiny {
      height: 1em;
      width: 1em;
    }
    &--active {
      background: #2cabe2;
      border-color: #2cabe2;
    }
  }
}