.paint-tool-bar {
  &__paint-tools {
    bottom: 2em;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 100%;
  }
  &__wrapper {
    display: flex;
    z-index: 10000;
  }
  &__tools-container {
    display: flex;
    position: relative;
    right: 0.2em;
    transition: right 0.5s ease-in-out 0.3s;
    z-index: 10000;
    @include respond-above(sm) {
      right: 1em;
    }
    &--hide {
      right: -40em;
    }
  }
  &__toolbar-button {
    background: white;
    border: 1px solid var(getThemeColor('light.lighter'));
    color: var(getThemeColor('black'));
    fill: var(getThemeColor('black'));
    height: 2em;
    outline: none;
    padding: 0em;
    position: relative;
    text-align: center;
    width: 2em;
    @include respond-above(sm) {
      height: 4em;
      padding: 1em;
      width: 4em;
    }
    &:hover {
      border-color: var(getThemeColor('secondary'));
      color: var(getThemeColor('secondary'));
      cursor: pointer;
      fill: var(getThemeColor('secondary'));
    }
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
      z-index: 100;
    }
    &:before {
      background: var(getThemeColor('secondary'));
      content: '';
      display: inline-block;
      height: 0;
      position: absolute;
      top: 50%;
      transition: all .3s;
      width: 0;
      z-index: 10;
    }
    &--active {
      border-width: 0;
      cursor: default;
      fill: var(getThemeColor('white'));
      overflow: visible;
      outline: none;
      &:hover {
        color: var(getThemeColor('black'));
        cursor: default;
        fill: none;
      }
      &:before {
        display: inline-block;
        height: 2em;
        left: 0em;
        top: 0em;
        transition: all .3s;
        width: 2em;
        @include respond-above(sm) {
          height: 4.5em;
          left: -.5em;
          top: -.25em;
          width: 5em;
        }
      }
    }
    &--disabled {
      border-color: var(getThemeColor('light.lighter'));
      color: var(getThemeColor('light'));
      cursor: default;
      fill: var(getThemeColor('light'));
      &:before {
        display: none;
      }
      &:hover {
        border-color: var(getThemeColor('light.lighter'));
        color: var(getThemeColor('light'));
        cursor: default;
        fill: var(getThemeColor('light'));
      }
    }
  }
  &__tool-name {
    bottom: .6em;
    color: rgba(255, 255, 255, 0);
    display: none;
    font-size: .5em;
    left: -.75em;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    transition: color .7s;
    width: 127%;
    z-index: 10;
    @include respond-above(sm) {
      display: block;
      left: -1.1em;
    }
    &--active {
      color: var(getThemeColor('black'));
      transition: color .7s;
    }
    &--disabled {
      color: var(getThemeColor('light'));
    }
  }
  &__toolbar-toggle {
    display: flex;
    position: relative;
  }
  &__toolbar-toggle-button {
    background: white;
    border: 1px solid var(getThemeColor('light'));
    color: black;
    display: block;
    fill: black;
    height: 2em;
    outline: none;
    width: 1em;
    z-index: 10000;
    @include respond-above(sm) {
      height: 4em;
      width: auto;
    }
    &:hover {
      border-color: var(getThemeColor('secondary'));
      color: var(getThemeColor('secondary'));
      cursor: pointer;
      fill: var(getThemeColor('secondary'));
    }
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }
    &:before {
      border: 6px solid transparent;
      border-left-color: var(getThemeColor('dark'));
      border-left-style: solid;
      content: '';
      display: inline-block;
      height: 0;
      left: -0.1em;
      margin-left: .5em;
      opacity: 0;
      position: absolute;
      top: 0.5em;
      width: 0;
      @include respond-above(sm) {
        left: 0em;
        top: 1.5em;
      }
    }
    &:after {
      border: 6px solid transparent;
      border-right-color: var(getThemeColor('dark'));
      border-right-style: solid;
      content: '';
      display: inline-block;
      height: 0;
      margin-left: -0.2em;
      margin-right: .5em;
      opacity: 0;
      width: 0;
      @include respond-above(sm) {
        margin-left: 0;
      }
    }
    &--toolbar-shown {
      &:before {
        opacity: 1;
        transition: opacity 0.5s;
      }
      &:after {
        opacity: 0;
      }
    }
    &--toolbar-hidden {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }
  }
  &__brush-types {
    cursor: default;
    display: none;
    position: absolute;
    &--show {
      display: block;
    }
    &--hide {
      display: none;
    }
    &--show-by-opacity {
      opacity: 1;
      transition: opacity 0.3s ease-in-out 0.7s;
    }
    &--hide-by-opacity {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
  &__brush-types-paint {
    bottom: 32px;
    left: -50px;
    @include respond-above(sm) {
      bottom: 60px;
      left: -12px;
    }
  }
  &__brush-types-erase {
    background: var(getThemeColor('light.lightest'));
    bottom: 32px;
    left: 4px;
    @include respond-above(sm) {
      bottom: 60px;
      left: 90px;
    }
  }
  &__clear-all {
    background: var(getThemeColor('white'));
    border: 1px solid var(getThemeColor('light'));
    color: var(getThemeColor('black'));
    display: flex;
    font-size: .75em;
    margin: 0 auto 12px;
    outline: none;
    padding: 0.3em 1.2em;
    width: auto;
    &:hover {
      border-color: var(getThemeColor('secondary'));
      color: var(getThemeColor('secondary'));
    }
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }
  }
  &__tool-icon {
    position: relative;
    right: 0px;
    top: 0px;
    z-index: 10;
    @include respond-above(sm) {
      position: absolute;
      right: 18px;
      top: 16px;
    }
    &__second-icon {
      right: 2px;
      top: 4px;
      @include respond-above(sm) {
        right: 10px;
        top: 18px;
      }
    }
  }
  &__paint-tooltip {
    bottom: calc(100% + 0.5rem);
    // TODO: remove following comments after adding tooltip for Color Wall
    // bottom: calc(100% + 22rem);
    // right: calc(100% + 8rem);
    display: none;
    position: absolute;
    &--active {
      display: flex;
      z-index: 100;
    }
  }
  &__group-tool {
    display: flex;
    left: -12em;
    position: relative;
    z-index: 100;
    &--show {
      left: 0.2em;
      transition: left 0.3s ease-in-out 0.3s;
      @include respond-above(sm) {
        left: 1em;
      }
    }
    &--hide {
      left: -12em;
      transition: left 0.3s ease-in-out 0.3s;
    }
  }
  &__zoom-tool {
    background: var(getThemeColor('light.lightest'));
    bottom: 32px;
    display: flex;
    right: 0px;
    opacity: 0;
    padding: 1.5em 1em;
    position: absolute;
    width: 18em;
    @include respond-above(sm) {
      bottom: 60px;
      width: 34.5em;
    }
    &:after {
      border: 4px solid transparent;
      border-top-color: var(getThemeColor('light.lighter'));
      border-top-style: solid;
      content: '';
      display: inline-block;
      height: 0;
      left: 58%;
      margin-left: -2px;
      opacity: 1;
      position: absolute;
      top: 84px;
      transition: opacity 0.3s ease-in-out;
      width: 0;
      @include respond-above(sm) {
        left: 53%;
        top: 66px;
      }
    }
    &--show-by-opacity {
      opacity: 1;
      transition: opacity 0.3s ease-in-out 0.7s;
    }
    &--hide-by-opacity {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    &--show {
      display: flex;
      opacity: 1;
    }
    &--hide {
      display: none;
      opacity: 0;
    }
  }
}
