.generic-message {
  $self: &;

  font-size: 1em;
  line-height: 1.2;
  font-weight: 300;
  padding: .5em;
  text-align: center;

  @include respond-above(sm) {
    padding: 1em;
  }

  &--multi-line {
    text-align: left;
  }

  &__inner {
    background: rgba(pick-visible-color($color-near-black, $color-black, $color-white), $color-near-opacity);
    border-radius: .25em;
    color: $color-near-black;
    display: inline-block;
    padding: .5em;

    @include respond-above(sm) {
      padding: 1em;
    }

    &--error {
      background: rgba(getVar('colors.error'), $color-near-opacity);
      color: pick-visible-color(getVar('colors.error'), $color-black, $color-white);
    }

    &--warning {
      background: rgba(getVar('colors.warning'), $color-near-opacity);
      color: pick-visible-color(getVar('colors.warning'), $color-black, $color-white);
    }
  }

  &__line {
    &--headline {
      font-weight: bold;
      font-size: 1.1em;

      @include respond-above(sm) {
        font-size: 1.2em;
      }
    }

    & + #{$self}__line {
      margin-top: .5em;
    }
  }
}