@import 'src/scss/convenience/_keyframe-animations.scss';

.prism-generic-overlay {
  $self: &;

  animation-name: delayedFadeIn;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5em;
  background: var(getThemeColor('primary.contrast'));
  color: var(getThemeColor('primary.trans'));
  z-index: 2;

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &__content {
    color: inherit;
    font-weight: bold;
    font-size: .8em;
    text-align: center;
    margin: 2px 0; // something truly small, just so things aren't touching
  }

  &--semitrans {
    background: var(getThemeColor('primary.contrast.trans'));
    color: var(getThemeColor('primary'));
  }

  &--collapse-v {
    height: auto;
  }

  &--collapse-h {
    width: auto;
  }

  &--loading {
    // same as default
  }

  &--error {
    background: var(getThemeColor('danger'));
    color: var(getThemeColor('danger.contrast.trans'));

    &#{$self}--semitrans {
      background: var(getThemeColor('danger.trans'));
      color: var(getThemeColor('danger.contrast'));
    }
  }

  &--message {
    background: var(getThemeColor('primary'));
    color: var(getThemeColor('primary.contrast.trans'));

    &#{$self}--semitrans {
      background: var(getThemeColor('primary.trans'));
      color: var(getThemeColor('primary.contrast'));
    }
  }
}