.live-palette-modal {
  &__wrapper {
    align-items: center;
    background-color: var(getThemeColor('dark.lighter.trans'));
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 100000;
    &--active {
      display: flex;
    }
    @include respond-above(md) {
      overflow: visible;
    }
  }
  &__container {
    background-color: var(getThemeColor('light'));
    box-sizing: border-box;
    color: #333;
    font-size: 1em;
    font-weight: bold;
    height: auto;
    line-height: 21.6px;
    margin: 0;
    padding: 14px;
    position: relative;
    text-align: center;
    width: 90%;
    @include respond-above(md) {
      max-width: 480px;
      overflow: visible;
    }
  }
  &__content {
    &__title {
      font-size: 125%;
    }
    margin: 0.5em 0;
  }
  &__button {
    background: var(getThemeColor('white'));
    border: 1px solid var(getThemeColor('light'));
    color: var(getThemeColor('white.contrast'));
    display: inline-block;
    margin: 1em 0px 0px 1em;
    outline: none;
    padding: 0.75em 1.75em;
    text-align: center;
    text-transform: uppercase;
    min-width: 140px;
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }
    &:hover {
      border-color: var(getThemeColor('secondary'));
      color: var(getThemeColor('secondary'));
    }
  }
}
