.prism-live-palette {
  display: flex;
  background-color: var(getThemeColor('white'));
  padding: $livePalette__chip-side-margin;
  font-family: var(getVarName('typography.titleFontFamily'));
  @include respond-above(sm) {
    border: 1px solid $color-grey;
  }

  &-simple {
    border: none;
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    display: none;
    @include respond-above(sm) {
      display: flex;
    }
    &__name {
      display: none;
      text-align: center;
      @include respond-above(sm) {
        display: block;
        margin: auto 0.5em;
      }
    }
    &__compare-button{
      &--hide{
        display: none;
      }
      padding: 0.5em 1em;
      margin-right: 5px;
      font-family: var(getVarName('typography.titleFontFamily'));
      font-size: .8em;
      outline:none;
      text-transform: var(getVarName('typography.buttonTextTransform'));
      font-weight: var(getVarName('typography.buttonFontWeight'));
      border: 1px solid var(getThemeColor('buttonBorder'));
      background-color: var(getThemeColor('buttonBgColor'));
      color: var(getThemeColor('buttonColor'));

      &:hover{
        border: 1px solid var(getThemeColor('buttonHoverBorder'));
        background-color: var(getThemeColor('buttonHoverBgColor'));
        color: var(getThemeColor('buttonHoverColor'));
        cursor: pointer;
      }
    }
  }

  &__height {
    @include respond-above(sm) {
      height: 4rem !important;
    }
    @include respond-above(md) {
      height: 4.625rem !important;
    }
  }

  &__slot {
    $lp-icon-size: 24px;

    width: inherit;
    height: 100%;

    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }

    &--empty {
      display: flex;
      justify-content: center;
      align-items: center;
      width: inherit;
      height: 100%;
      cursor: default;
      background-color: var(getThemeColor('light'));
    }

    &__label {
      display: none;
      font-size: #{(9/16)}rem;
      text-align: center;

      @include respond-above(md) {
        display: block;
      }

      &--text {
        width: 9rem;
        margin: 0.2rem;
        font-family: var(getVarName('typography.bodyFontFamily'));
        font-style: var(getVarName('typography.titleFontStyle'));
        font-size: .875rem;
        line-height: 1.2rem;
      }
    }

    &__icon {
      width: $lp-icon-size !important;
      height: $lp-icon-size !important;
      margin: 5px;
      color: var(getThemeColor('light.contrast'));

      &--empty { opacity: .3 }
    }

    &__button {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      outline:none;
    }
  }

  &__info {
    margin: 0 .125rem !important;
    font-size: 1.4rem !important;

    &--outlined {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1rem;
      height: 1rem;
      outline: 2px solid;

      &-icon { font-size: .8rem !important }
    }

    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }
  }

  &__trash {
    @include respond-above(sm) {
      margin-left: .25rem !important;
    }

    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }

    &--icon { font-size: 20px }
  }

  &__name-number {
    display: flex;
    flex-direction: column-reverse;
  }

  &__color-number {
    display: block;
    font-size: .8rem;
    font-weight: normal;
    color: inherit;
    white-space: nowrap;
  }

  &__color-name {
    display: block;
    font-size: .8rem;
    color: inherit;
    @include respond-above(sm) {
      font-weight: 600;
    }
  }

  &__color-description {
    clip: rect(1px, 1px, 1px, 1px); // For screen readers only
    font-size: 0.7em;
    display: none;
    position: absolute;
    bottom: 0.5em;
    color: inherit;
    @include respond-above(sm) {
      display: block;
    }
  }

  &-house-shaped {
    &__name-number {
      display: flex;
      flex-direction: column-reverse;
      line-height: 1.2rem;
    }

    &__color-name {
      font-family: var(getVarName('typography.bodyFontFamily'));
      font-style: italic;
      white-space: nowrap;
    }

    &__color-number {
      font-size: .875rem;
      line-height: .9rem;
      white-space: nowrap;
    }

    &__height {
      @include respond-below(sm) {
        height: 5.6rem !important;
      }
    }
  }
}
