.transition-wrapper {
  width: 100%;
  overflow: hidden;
}

.inline-color-details {
  &.enter { transform: translateX(100%); }
  &.enter-active { transform: translateX(0%); }
  &.exit { transform: translateX(0%); }
  &.exit-active { transform: translateX(100%); }
  &.enter-active, &.exit-active { transition: transform 200ms; }
}

.color-wall-wrap {
  &.enter  { opacity: 0; }
  &.enter-active { opacity: 1; }
  &.exit { opacity: 1; }
  &.exit-active { opacity: 0; }
  &.enter-active, &.exit-active { transition: opacity 100ms; }
}