<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <title>Color Visualizer</title>
</head>

<body>
  <div id="prism-embed-root"
        data-prism-facet="ColorVisualizer"
        data-color-wall-bg-color="#FFF"
        data-language="en-US"
        data-page-root="/cvw"
        data-route-type="hash"
        data-selected-color-family="red"
        data-max-scene-height="640"></div>

        <script src="<%= BASE_PATH %>/embed.js"></script>
  <script>
    (() => {
      window.PRISM.embed(document.getElementById( 'prism-embed-root' ), {
        bindCallback: ({ publish, subscribe }) => {}
      })
    })()
  </script>

</body>

</html>
