.generic-message {
  $self: &;

  font-size: 1em;
  line-height: 1.2;
  font-weight: 300;
  padding: .5em;
  text-align: center;

  @include respond-above(sm) {
    padding: 1em;
  }

  &--multi-line {
    text-align: left;
  }

  &__inner {
    background: var(getThemeColor('white.trans'));
    border-radius: .25em;
    color: var(getThemeColor('white.contrast'));
    display: inline-block;
    padding: .5em;
    width: 100%;
    font-weight: normal;
    font-size: 0.8rem;

    @include respond-above(sm) {
      padding: 1em;
    }

    &--error {
      background: var(getThemeColor('danger.trans'));
      color: var(getThemeColor('danger.contrast'));
    }

    &--warning {
      background: var(getThemeColor('warning.trans'));
      color: var(getThemeColor('warning.contrast'));
    }

    &--success {
      background: var(getThemeColor('success.trans'));
      color: var(getThemeColor('success.contrast'));
    }
  }

  &__line {
    &--headline {
      font-weight: bold;
      font-size: 1.1em;

      @include respond-above(sm) {
        font-size: 1.2em;
      }
    }

    & + #{$self}__line {
      margin-top: .5em;
    }
  }
}