@import './constants';

.JSFCommon {
  &__title {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0 0 .75em 0;
    padding: 0;

    @include respond-above(sm) {
      font-size: 2rem;
    }
  }

  &__text {
    line-height: 1.4;

    p, ul, li, hr {
      margin-top: .5em;
      margin-bottom: .5em;
    }
  }

  &__content {
    margin-left: auto;
    margin-right: auto;
    max-width: $jsf-content-max-width;
    width: 100%;

    &--centered {
      text-align: center;
    }
  }

  &__band {
    display: flex;
    justify-content: center;

    &--dark {
      background: $jsf-band-bg;
    }

    &--pad-h, &--pad {
      padding-left: 1rem;
      padding-right: 1rem;

      @include respond-above(sm) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }

    &--pad-v, &--pad {
      padding-top: 1rem;
      padding-bottom: 1rem;

      @include respond-above(sm) {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }
}