.scene-variant-switch-day-night {
  $base-font-size: $base; // 16px
  $icon-size: 1em;

  align-items: center;
  cursor: pointer;
  display: flex;
  float: right;
  font-size: $base-font-size;
  justify-content: center;
  max-width: 100%;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;

  &__wrapper {
    align-items: center;
    background: rgba(41, 70, 147, 0.5);
    border-radius: 50%; 
    color: rgb(250, 232, 186);
    display: flex;
    filter: grayscale(100);
    height: $icon-size * 1.5;
    justify-content: center;
    opacity: 0.6;
    transform: scale(1);
    transition: filter 0.6s, opacity 0.6s, transform 0.6s;
    width: $icon-size * 1.5;
    will-change: opacity transform;

    &--active {
      background: rgba(41, 70, 147, 1);
      filter: grayscale(0);
      opacity: 1;
      transform: scale(1.35);
    }

    &--night {
      background: rgba(28, 28, 29, 0.9);
      color: rgb(208, 237, 255);
      margin-left: $icon-size * 0.5;

      &--active {
        background: rgba(28, 28, 29, 0.9);
      }
    }
  }

  &__day {
    height: $icon-size;
    width: $icon-size; 
  }

  &__night {
    height: $icon-size * 0.9;
    margin: 0 0 $icon-size * 0.1 $icon-size * 0.1;
    width: $icon-size * 0.9;
  }
}