.prism-scene-manager {
  &__block {
    align-items: center;
    display: flex;
    flex-direction: row;

    &--letterbox {
      background: black;
    }

    // BEGIN TODO: REMOVE
    & > * {
      flex: 1 1;
    }
    // END TODO: REMOVE
  }

  &__btn {
    $btn-active-color: rgba(#222, 1);
    $btn-active-color-text: white;
    $btn-focus-color: rgba(#39c, 1);
    $btn-focus-color-text: rgba(white, 1);
    $border-size: 2px;

    display: inline-block;
    border: $border-size solid transparent;
    float: left;
    max-width: 100px;
    position: relative;
    z-index: 1;

    img {
      display: block;
      max-width: 100%;
    }

    &:hover {
      border-color: $btn-focus-color;

      &::after {
        background: $btn-focus-color;
        border-color: $btn-focus-color;
        color: $btn-focus-color-text;
      }
    }

    &--active {
      $icon-size: 1em;

      border-color: $btn-active-color;

      &::after {
        bottom: 0;
        border: $border-size solid $btn-active-color;
        border-bottom: none;
        border-right: none;
        content: '\02714';
        position: absolute;
        width: $icon-size;
        height: $icon-size;
        line-height: $icon-size;
        background: $btn-active-color;
        color: $btn-active-color-text;
        text-align: center;
        font-size: $icon-size;
        right: 0;
      }
    }

    &--disabled {
      opacity: .2;
    }
  }

  &__scene {
    clear: both;
    max-width: 100%;
    position: relative;

    &--disabled {
      filter: saturate(0) brightness(.5) contrast(.75);
      pointer-events: none;
    }

    &__svg-defs {
      height: 0;
      position: absolute;
      width: 0;
      z-index: -1;
    }

    &__tint-wrapper,
    &__hit-wrapper {
      max-width: 100%;
      position: relative;
      width: auto;
    }

    &__preview-wrapper,
    &__hit-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &__natural {
      display: block;
      width: 100%;
      position: relative;
      height: auto;
    }

    &__preview-wrapper {
      pointer-events: none;

      &__preview {
        opacity: 0;
        transition: opacity .3s ease-in .0s;
        will-change: opacity;

        &--active {
          opacity: 1;
          transition: opacity .1s ease-out;
        }
      }
    }

    &__hit-area-wrapper,
    &__hit-area,
    &__surface {
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__hit-area {
      // this is the hover/click color
      // fill: rgba(white,.1);
      fill: transparent;
      stroke: magenta;
      stroke-width: 5px;

      &__mask-loader {
        height: 0;
        position: absolute;
        width: 0;
        z-index: -1;
        visibility: hidden;
      }

      &__mask {
        cursor: pointer;
        opacity: 0;
        transition: opacity .3s ease-in .0s;
        // don't you dare remove this line.
        pointer-events: all;
        will-change: opacity;

        &--hover,
        &:hover {
          opacity: 1;
          transition: opacity .1s ease-out;
        }
      }
    }
  }
}