{
  "extends": [
    "standard",
    "standard-react",
    "plugin:flowtype/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "flowtype",
    "jsx-a11y",
    "react-hooks",
    "jest"
  ],
  "globals" : {
    "API_PATH": "readonly",
    "BASE_PATH": "readonly",
    "Blob": "readonly",
    "FileReader": "readonly",
    "Image": "readonly",
    "ML_API_URL": "readonly",
    "URL": "readonly",
    "Worker": "readonly"
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-fallthrough": "off"
  },
  "env": {
    "jest/globals": true
  }
}