{
  "extends": [
    "standard",
    "standard-react",
    "plugin:flowtype/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "flowtype",
    "jsx-a11y",
    "react-hooks",
    "jest",
    "formatjs"
  ],
  "globals" : {
    "API_PATH": "readonly",
    "APP_VERSION": "readonly",
    "BASE_PATH": "readonly",
    "ENV": "readonly",
    "WEBPACK_CONSTANTS": "readonly",
    "VAR_NAMES": "readonly",
    "VAR_VALUES": "readonly",
    "STATIC_TEMPLATES": "readonly",
    "Blob": "readonly",
    "FileReader": "readonly",
    "Image": "readonly",
    "ImageData": "readonly",
    "ML_API_URL": "readonly",
    "URL": "readonly",
    "Worker": "readonly",
    "FIREBASE_AUTH_ENABLED": "readonly",
    "render": "readonly"
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-fallthrough": "off",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/no-noninteractive-tabindex": "warn",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "warn",
    "jsx-a11y/label-has-for": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "formatjs/no-offset": "error"
  },
  "env": {
    "jest/globals": true
  }
}
