# System and SCM files
.DS_Store

# Node modules should be added by npm install and not included in source
node_modules
package-lock.json

# Compiled assets
dist

# Embed output
embed-output
embed-working

# Test coverage
coverage

# installed flow types
flow-typed/npm

# ignore jetbrains ide meta data
.idea/

# webpack cache
.cache

# Static files for mock api calls
public
yarn-error.log

# Yarn
.yarn/cache
.yarn/install-state.gz
