# System and SCM files
.DS_Store

# Node modules should be added by npm install and not included in source
node_modules

# Compiled assets
dist

# Test coverage
coverage

# installed flow types
flow-typed/npm

# webpack cache
.cache