.cwv3__wall-col {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

.cwv3 {
  &__swatch-renderer {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s;

    &--active {
      transform: scale(3);
      z-index: 1000;
      background: green !important;
    }

    &__inner {
      position: absolute;
      width: 300%;
      height: 300%;
      top: 50%;
      z-index: 1001;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      background: rgba(black, .3);
    }
  }
}