<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Color Visualizer</title>
</head>

<body>
  <div prism-auto-embed
        data-react-component="ColorVisualizerWrapper"
        data-color-wall-bg-color="#FFF"
        data-language="en-US"
        data-page-root="/cvw"
        data-route-type="memory"
        data-selected-color-family="red"></div>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "/embed.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'prism-widget'));
  </script>

</body>

</html>
