.chip-locator {
  position: relative;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 40px minmax(195px, auto) 40px;
  gap: 2px;
  margin: 2.5rem 1rem 1rem;

  &__top-navigator {
    grid-column: 2;
    grid-row: 1;
  }

  &__right-navigator {
    grid-column: 3;
    grid-row: 2;
  }

  &__bottom-navigator {
    grid-column: 2;
    grid-row: 3;
  }

  &__left-navigator {
    grid-column: 1;
    grid-row: 2;
  }

  &__swatch {
    padding: 1.25rem !important;
    border: 1px solid #fff;
  }

  &__name {
    padding-bottom: 0.3rem !important;
    font-size: 1.125rem;
    font-weight: 550;
    line-height: 1rem;
  }

  &__number {
    margin-bottom: 0.75rem !important;
    font-style: italic;
    font-weight: 400;
  }

  &__location {
    padding-bottom: 0.3rem !important;
    font-size: 1.125rem;
    font-weight: 550;
  }

  &__column {
    font-style: italic;
    font-weight: 400;
  }

  &__row {
    margin-top: 0.2rem !important;
    font-style: italic;
    font-weight: 400;
  }

  &__button {
    width: 8.3rem;
    margin-top: 1rem !important;
    padding: 0.3rem 0.4rem 0.8rem !important;
    border: 1px solid black !important;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 500;
  }

  .dark-color {
    border-color: white !important;
  }

  .inner-swatch {
    position: relative !important;
  }
}
