.prism-scene {
  $scene: &;

  border: 3px solid black;
  display: flex;
  flex-direction: row;
  height: 20vh;
  margin: 1em 0;
  z-index: 0;
  
  &__surface {
    $surface: &;

    flex: 1;

    &#{ $surface }--hover {
      z-index: 1;
      box-shadow: inset 0 0 0 1px magenta;
    }
  }
}