.cwv3__row {
  display: flex;
  flex-wrap: nowrap;
  // don't need this?
  // justify-content: space-between;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;

  // TODO: DCT-125: NEW things
  flex-direction: row;

  &--align-start {
    justify-content: flex-start;
  }
  &--align-justify {
    justify-content: space-between;
  }
  &--align-center {
    justify-content: center;
  }
  &--align-end {
    justify-content: flex-end;
  }

  &--wrapped {
    flex-wrap: wrap;
  }
}