
.card-menu {
  &__wrapper {
    font-size: 1em;
    font-weight: 400;
    color: #333;
    line-height: 1.2em;
    height: 100%;
    user-select: none;
    background: var(getThemeColor('light.lightest'));
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  &__content {
    display: block;
  }
  &__header {
    display: block;
    position: relative;
  }
  &__heading {
    font-size: 1.125em;
    min-height: 1.125em;
    line-height: 1.350em;
    background: var(getThemeColor('white'));
    display: block;
    overflow: hidden;
    padding: 3% 16% 1.25em;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
    text-align: center;
    @include respond-above(sm) {
      background: var(getThemeColor('light.lightest'));
    }
  }
  &__button {
    background: none;
    border: none;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    color: #000;
    fill: #000;
    padding: 0;
    top: .875rem;
    position: absolute;
    z-index: 3;
    &:hover {
      border-color: var(getThemeColor('secondary'));
      cursor: pointer;
      color: #2cabe2;
    }
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
      z-index: 100;
    }
    &--left {
      left: .875rem;
    }
    &--right {
      right: .875rem;
    }
    @include respond-above(sm) {
      background: var(getThemeColor('white'));
      border: 1px solid var(getThemeColor('light.lighter'));
      padding: .75em 1.75em;
    }
  }
  &__button-left-text {
    display: none;
    text-transform: uppercase;
    @include respond-above(sm) {
      display: inline-block;
    }
  }
  &__close {
    display: none;
    @include respond-above(sm) {
      display: block;
    }
  }
  &__cancel {
    display: block;
    @include respond-above(sm) {
      display: none;
    }
  }
}
