
.card-menu {
  &__wrapper {
    font-family: var(getVarName('typography.titleFontFamily'));
    font-size: 1em;
    font-weight: 400;
    color: #333;
    line-height: 1.2em;
    height: 100%;
    user-select: none;
    background: var(getThemeColor('primaryBg'));
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  &__content {
    display: block;
  }
  &__header {
    display: block;
    position: relative;
  }
  &__heading {
    font-size: 1.125em;
    min-height: 1.125em;
    line-height: 1.350em;
    text-transform: var(getVarName('typography.titleTextTransform'));
    background: var(getThemeColor('white'));
    display: block;
    overflow: hidden;
    padding: 3% 16% 1.25em;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
    text-align: center;
    @include respond-above(sm) {
      background: var(getThemeColor('primaryBg'));
    }
  }
  &__button {
    background-color: none;
    border: none;
    display: inline-block;
    text-align: center;
    text-transform: var(getVarName('typography.buttonTextTransform'));
    font-family: inherit;
    font-weight: var(getVarName('typography.buttonFontWeight'));
    width: auto;
    color: var(getThemeColor('light.lightest.contrast'));
    fill: currentColor;
    padding: 1em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 3;
    &:hover {
      cursor: pointer;
      color: var(getThemeColor('light.lightest.contrast.transer'));
    }
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
      z-index: 100;
    }
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
    @include respond-above(sm) {
      color: var(getThemeColor('buttonColor'));
      background-color: var(getThemeColor('buttonBgColor'));
      border: 1px solid var(getThemeColor('buttonBorder'));
      padding: .75em 1.75em;

      &--left {
        left: .875rem;
      }
      &--right {
        right: .875rem;
      }

      &:hover {
        border-color: var(getThemeColor('buttonHoverBorder'));
        background-color: var(getThemeColor('buttonHoverBgColor'));
        color: var(getThemeColor('buttonHoverColor'));
      }
    }
  }
  &__button-left-text {
    display: none;
    text-transform: uppercase;
    @include respond-above(sm) {
      display: inline-block;
    }
  }
  &__close {
    display: none;
    text-transform: uppercase;
    @include respond-above(sm) {
      display: block;
    }
    &--icon {
      margin-left: .4rem;
    }
  }
  &__cancel {
    display: block;
    @include respond-above(sm) {
      display: none;
    }
  }
}
