.iconography {
  width: 20px;
  height: 20px;

  &--color-details-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1px;
    border: 2px solid;
    font-size: smaller;
  }

  &--paint-scene-icon {
    width: 32px;
    font-size: large;
  }

  &--undo {
    margin-right: .75em;

    @include respond-above(sm){
      margin-left: .75em;
    }
  }
}
