.edit-color-palette {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
  }
  &__input-wrapper {
    position: relative;
    padding: 1em 0em;
  }
  &__scene-name-input {
    background: var(getThemeColor('white'));
    text-align: center;
    width: 100%;
    border: 0;
    border-radius: 0;
    color: var(getThemeColor('dark'));
    height: 2.5em;
    margin-bottom: 10px;
    padding: 10px;
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }
  }
  &__save-button {
    border: 1px solid var(getThemeColor('light'));
    background: var(getThemeColor('white'));
    color:  var(getThemeColor('black'));
    display: block;
    fill: var(getThemeColor('black'));
    margin: 0 auto;
    padding: .75em 1.75em;
    text-transform: uppercase;
    &:hover {
      border-color: var(getThemeColor('secondary'));
      color: var(getThemeColor('secondary'));
      cursor: pointer;
    }
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }
  }
  &__input-label {
    background-color: var(getThemeColor('dark.lighter'));
    border-radius: 1.3em;
    color: var(getThemeColor('white'));
    cursor: pointer;
    display: block;
    fill: var(getThemeColor('white'));
    height: 1.3em;
    line-height: 1.3em;
    margin-left: -2em;
    position: absolute;
    right: .5em;
    text-align: center;
    top: 1.4em;
    width: 1.3em;
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }
  }
  &__scene-name-error {
    color: var(getThemeColor('danger'));
    display: flex;
    font-size: 1em;
    justify-content: center;
  }
}
