.cwv3 {
  &__wall {
    position: relative;
    display: block;
  }

  &__zoom-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;
  }

  &__wall-scroller {
    overflow: auto;
    position: relative;
  }

  &__wall-col {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    position: absolute;
  }

  &__swatch-renderer {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s;
    z-index: 1;

    &__inner {
      position: absolute;
      width: 290%;
      height: 290%;
      top: 50%;
      z-index: 1001;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &__inner-house-shaped {
      outline: none;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -29.25%;
        width: 100%;
        height: 30%;
        background-color: inherit;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        cursor: default;
      }
    }

    &--dark-color { color: var(getThemeColor('primary.contrast.trans')) }
  }
}