.cwv3 {
  &__wall {
    position: relative;
    display: block;
  }

  &__zoom-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2000;
  }

  &__wall-scroller {
    overflow: auto;
    position: relative;
  }

  &__wall-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    flex-direction: row;

    // TODO: should this become a column when wrapping? or just change nowrap to wrap? that might make more sense
    &--wrapped {
      flex-wrap: wrap;
    }
  }
}
