.FurnitureDetail{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    font-family: AppleGothic;
    &__title{
        text-align: left;
        text-transform: uppercase;
    }
    &__line{
        border-top:1px solid #000;
    }
    &__content-container{
        display: flex;
        justify-content: center;
        &__image{
            display: flex;
            flex:1;
            > img{
                width: 20em;
                object-fit: cover;
            }
        }
        &__color{
            display: flex;
            flex:1;
            &__wrapper{
                display: flex;
                flex-direction: column;
                margin: 10px;
                &__palette{
                    width: 95px;
                    height: 95px;
                }
                &__name{
                    display: flex;
                    flex-direction: column;
                    > span:first-child{
                        margin: 10px 0;
                    }
                    > span:last-child{
                        display: block;
                        width: 4em;
                    }
                }
            }
        }
    }
}