@import '../shared-vars.scss';

.CVWNavBtn {
  height: $cvw-nav-btn-height;
  background-color: var(getThemeColor('menuBg'));
  box-shadow: inset 1px 0 1px -1px var(getThemeColor('menuTxt.transer'));
  background-image: linear-gradient(to top, var(getThemeColor('white')) 50%, var(getThemeColor('secondary')) 50%);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  background-position: 0 -102%; // vertical offset of >100% to make sure there are no rendering issues with <1px pct issues
  color: var(getThemeColor('menuTxt'));
  font-family: inherit;
  transition: background-position 0.2s, background-color .2s;
  margin-right: 0;
  padding: 0 .5em;
  text-align: left;

  @include respond-above(xs) {
    padding: 0 1.4em 0 .7em;
  }
  @include respond-above(sm) {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    box-shadow: none;
  }

  &:hover {
    color: var(getThemeColor('menuTxtHover'));
    background-position: 0 -80%;
  }

  &--active {
    color: var(getThemeColor('white'));
    background-position: 0 0;
    background-color: var(getThemeColor('secondary'));

    &:hover {
      color: var(getThemeColor('white'));
      background-position: 0 0;
    }
  }

  &:focus {
    outline: none;
    background-color: var(getThemeColor('menuBg.darker'));
    z-index: 100;
  }

  &__icon {
    background-color: inherit;
    display: none !important;
    margin-right: 1em;
    svg { background-color: inherit; }
    .fa-square-full.fa-sm { margin-right: -1px; }
    .fa-square-full.fa-xs { margin-right: -3px; }
    &--brush { margin-left: -22px; }

    @include respond-above(sm) {
      display: inline-block !important;
    }
  }
}