@mixin hover-style {
  background: var(getThemeColor('white'));
  border-color: var(getThemeColor('secondary'));
  cursor: pointer;
  color: var(getThemeColor('secondary'));
}

@mixin focus-style {
  outline-style: solid;
  outline-color: var(getThemeColor('secondary'));
  outline-width: 2px;
}

.match-photo {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    // max-width: 1050px;
    overflow: hidden;
    /*padding: 3em 0;*/
    width: 100%;
    @include respond-above(sm) {
      padding: 0em;
    }
    &--preview {
      background: var(getThemeColor('light.lightest'));
      /* This prevents extra space to the bottom of the wrapper without it. */
      line-height: 0px;
      &::before {
        display: block;
        content: url('~src/images/ghost-gradient.svg');
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 2;
      }
    }
  }
  &__header {
    display: block;
    position: relative;
  }
  &__button {
    background: transparent;
    border: none;
    color: var(getThemeColor('white'));
    cursor: pointer;
    display: inline-block;
    fill: var(getThemeColor('black'));
    outline: none;
    padding: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: .875rem;
    width: auto;
    z-index: 1000;

    &:focus {
      @include focus-style
    }
    &:hover {
      @include hover-style
    }
    &--left {
      left: .875rem;
    }
    &--right {
      right: .875rem;

      &.dark-button {
        background-color: var(getThemeColor('white'));
        color: var(getThemeColor('black'));
        border: 1px var(getThemeColor('black')) solid;

        &:focus {
          @include focus-style
        }
        &:hover {
          @include hover-style
        }
      }
    }
    @include respond-above(sm) {
      border: 1px solid var(getThemeColor('light'));
      padding: .75em 1.75em;
    }
  }
  &__button-left-text {
    display: none;
    text-transform: uppercase;
    @include respond-above(sm) {
      display: inline-block;
    }
  }
  &__close {
    display: none;
    @include respond-above(sm) {
      display: block;
    }
  }
  &__cancel {
    display: block;
    @include respond-above(sm) {
      display: none;
    }
  }
  &__canvas {
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  &__image {
    height: 0;
    width: 100%;
  }
  &__container {
    display: block;
    min-height: 100%;
    position: relative;
    width: 100%;
  }
}

.image-rotate-terms-modal {
  &__wrapper {
    align-content: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    margin-left: -9.5rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 19rem;
    z-index: 1000;
    &__container {
      background: var(getThemeColor('light.lightest'));
      display: flex;
      flex-direction: column;
      line-height: 1.2em;
      margin-top: 6px;
      &--inactive {
        display: none;
      }
    }
    &__loader {
      color: var(getThemeColor('secondary'));
      display: block;
      line-height: 1.2em;
      margin-top: 6px;
    }
    &__tools {
      margin-top: 6px;
      &__message {
        color: var(getThemeColor('black'));
        margin-bottom: 6px;
        padding: .75em;
      }
      &__rotate-arrow {
        background: var(getThemeColor('white'));
        border: 1px solid transparent;
        display: inline-block;
        font-size: 3em;
        height: 48px;
        margin-right: 10px;
        outline: none;
        padding: 0;
        width: 48px;
        &:focus {
          outline-color: var(getThemeColor('secondary'));
          outline-style: solid;
          outline-width: 2px;
        }
      }
    }
    &__agree-terms {
      height: 4em;
      padding: 1em;
      text-align: center;
      vertical-align: middle;
      &__checkbox-label {
        cursor: pointer;
        outline: none;
        &:focus {
          outline-color: var(getThemeColor('secondary'));
          outline-style: solid;
          outline-width: 2px;
        }
      }
      &__text {
        border: none;
        flex: 1 0 auto;
        width: 62%;
        padding: 0 0.5em;
        a {
          text-decoration: underline;
          color: var(getThemeColor('primary'))
        }
      }
      &__accept {
        background: var(getThemeColor('white'));
        border: 1px solid var(getThemeColor('light'));
        color: var(getThemeColor('light'));
        cursor: default;
        display: inline-block;
        flex: 1 0 auto;
        line-height: 1.25em;
        margin: -1em auto 1.75em;
        outline: none;
        padding: .75em 1.75em;
        text-align: center;
        width: auto;
        &--active {
          border: 1px solid var(getThemeColor('secondary'));
          color: var(getThemeColor('secondary'));
          cursor: pointer;
          &:focus {
            outline-style: solid;
            outline-color: var(getThemeColor('secondary'));
            outline-width: 2px;
          }
        }
      }
    }
  }
}

.confirmation-modal {
  &__wrapper {
    align-items: center;
    background-color: var(getThemeColor('dark.lighter.trans'));;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
    @include respond-above(md){
      overflow: visible;
    }
  }
  &__container {
    background-color: var(getThemeColor('danger'));
    box-sizing: border-box;
    color: var(getThemeColor('white'));
    font-size: 1em;
    font-weight: bold;
    height: auto;
    line-height: 21.6px;
    margin: 0;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 90%;
    @include respond-above(md){
      max-width: 480px;
      overflow: visible;
    }
  }
  &__content {
    margin: .5em 0;
  }
  &__button {
    background: transparent;
    border: 1px solid var(getThemeColor('light.lighter'));
    color: var(getThemeColor('white'));
    display: inline-block;
    margin: 0 2px;
    outline: none;
    padding: .75em 1.75em;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }
    &:hover {
      background: var(getThemeColor('white.lighter.trans'));
      border-color: var(getThemeColor('white'));
      color: var(getThemeColor('danger'));
    }
  }
}
