$cvw-nav-btn-height: 3rem; // TODO: make better

.cvw-navigation-wrapper {
  height: $cvw-nav-btn-height;

  .cvw-nav-btn {
    height: $cvw-nav-btn-height;
    background-color: var(getThemeColor('menuBg'));
    background-image: linear-gradient(to top, var(getThemeColor('white')) 50%, var(getThemeColor('secondary')) 50%);
    background-size: 100% 200%;
    background-repeat: no-repeat;
    background-position: 0 -102%; // vertical offset of >100% to make sure there are no rendering issues with <1px pct issues
    color: var(getThemeColor('menuTxt'));
    transition: background-position 0.2s;
    margin-right: 2px;
    padding: 0 .3em;
    @include respond-above(xs) {
      padding-left: .7em;
      padding-right: .7em;
    }
    @include respond-above(sm) {
      padding-left: 1em;
      padding-right: 1em;
    }

    &:hover {
      color: var(getThemeColor('menuTxtHover'));
      background-position: 0 -80%;
    }

    &--active {
      color: var(getThemeColor('white'));
      background-position: 0 0;
      background-color: var(getThemeColor('secondary'));

      &:hover {
        color: var(getThemeColor('white'));
        background-position: 0 0;
      }
    }

    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
      z-index: 100;
    }
  }

  &__structure {
    display: flex;
    font-size: .8125rem; // sets base font size for top nav items
    background-color: var(getThemeColor('menuBg'));

    &--center {
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid var(getThemeColor('light'));
    }

    &--right {
      list-style-type: none;
      @include respond-below(xs) {
        height: 96%;
      }
      @include respond-above(xs) {
        position: absolute;
        right: 1em;
      }

      & .cvw-nav-btn {
        @include respond-below(xs) {
          padding: 0 0.5em;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    top: $cvw-nav-btn-height;
    height: calc(100% - #{$cvw-nav-btn-height});
    width: 100%;
    // @todo theme
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1003;
  }

}

.cvw-dashboard-submenu {
  $bg: var(getThemeColor('light.lightest'));
  $color: var(getThemeColor('light.lightest.contrast'));

  position: absolute;
  top: $cvw-nav-btn-height;
  z-index: 10001; // to make it higher than the ColorPickerSlider
  background-color: $bg;
  box-shadow: inset 0 7px 5px -7px rgba(black, .3);
  color: $color;
  padding-top: 1em;
  text-align: center;
  font-weight: 400;
  width: 100%;

  &__close {
    position: absolute;
    right: 1em;
    background-color: var(getThemeColor('buttonBgColor'));
    border: 1px solid var(getThemeColor('buttonBorder'));
    color: var(getThemeColor('buttonColor'));
    padding: .75em 1.75em;
    text-transform: uppercase;

    &__ico { margin-left: 0.5em; }

    &:hover, &:focus {
      background-color: var(getThemeColor('buttonHoverBgColor'));
      color: var(getThemeColor('buttonHoverColor'));
      border-color: var(getThemeColor('buttonHoverBorder'));
    }
  }

  &__header {
    margin-top: 2rem;
    font-size: 1em;

    @include respond-above(sm) {
      font-size: 1.3em;
    }

    @include respond-above(md) {
      font-size: 1.7em;
    }
  }

  &__content {
    $topContent: &;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include respond-above(xs) {
      flex-wrap: nowrap;
    }

    &__item {
      $gutter: 5%;

      width: 45%;
      margin: 0 $gutter / 2 .4em;

      @include respond-above(xs) {
        max-width: 257px;
        width: (100% - ($gutter * 3)) / 3;
        margin-bottom: 1em;
      }

      &--wide {
        @include respond-below(xs) {
          width: 100% - $gutter;
          max-width: none;
        }
      }
    }

    &__title {
      color: inherit;
      margin: 0 0 1em;
      padding: 0;
      transition: color .2s ease-out;
      font-size: 1em;
      text-transform: uppercase;

      @include respond-above(md) {
        font-size: 1.1em;
      }
    }

    &__image {
      background-position: center center;
      background-size: cover;
      border: 4px solid white;
      box-shadow: 0 3px 5px -4px black;
      height: 0;
      margin: 0 0 1em;
      padding-bottom: 75%;
      transition: border .2s ease-out;
      width: 100%;

      @include respond-above(sm) {
        border-width: 8px;
      }

      @include respond-below(xs) {
        padding-bottom: 50%;
      }

      &--wide {
        @include respond-below(xs) {
          padding-bottom: 35%;
        }
      }

    }

    &__tip,
    &__content {
      margin: 0 0 1em;
      line-height: 1.1;
      color: $color;
    }

    &__tip {
      font-style: italic;
      font-size: .9em;
    }

    &__btn {
      width: 100%;
      color: $color;

      &:hover {
        color: var(getThemeColor('secondary'));

        & #{$topContent}__image {
          border-color: var(getThemeColor('secondary'));
        }
      }
    }
  }
}
