<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <title>Sherwin-Williams Color Detail Page</title>
</head>

<body>

  <div prism-auto-embed
       class="prism-color-details-facet"
       data-prism-facet="ColorDetailsFacet"
       data-color-s-e-o="sw-9695-beetroot"
       data-brand="sherwin"
       data-page-root="/"
       data-language="en-US"
       data-route-type="hash"></div>

  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "<%= BASE_PATH %>/embed.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'prism-widget'));
  </script>

</body>

</html>
