.pin__copy {
  font-size: 0;
  margin: 0 0.3em 0 0;
  transition: font-size 0.3s;
  will-change: font-size;
}

.pin__name-wrapper {
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.4s;
  width: 0;
}

.pin__wrapper  {
  align-items: center;
  background: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: flex-start;
  left: 0;
  overflow: hidden;
  position: absolute;
  transition: transform 0.04s;
  top: 0;
  width: auto;
  z-index: 9;
}

.pin--preview__wrapper {
  opacity: 0;
  z-index: 99;
}

.brand-color-pin {
  border: 3px solid #fff;
  border-radius: 50%;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
  z-index: 2;

}

.pin__chip {
  border-radius: 50%;
  display: block;
  height: 44px;
  margin: 0 3px;
  width: 44px;
}

.pin--active__wrapper .pin__name-wrapper {
  opacity: 1;
  width: auto;
}

.pin--active__wrapper .pin__copy {
  font-size: initial;
}

.CFIwrapper:hover .pin--preview__wrapper {
  opacity: 1;
}