.CFIcanvas {
  display: none;
  pointer-events: none;
}

.CFIimage {
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.CFIwrapper {
  height: 487px;
  width: 898px;
  overflow: hidden;
  position: relative;
}

@import 'colors-from-image-pin';