html, button, body, div, span, section, ul, li, h1, h2, h3, h4, h5, p {
  box-sizing: border-box;
  color: #111112;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a:hover,
a:focus,
button:hover,
button:focus {
    outline: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: normal;
  width: auto;
  overflow: visible;
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.svg-defs-wrapper {
  height: 0;
  width: 0;
}

.CFIcanvas {
  display: none;
  pointer-events: none;
}

.CFIimage {
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.CFIwrapper {
  height: 487px;
  width: 898px;
  overflow: hidden;
  position: relative;
}

@import 'colors-from-image-pin';