.chunk-boundary {
  position: absolute;
  display: block;
  top: -$cw-chunk-outline-offset;
  left: -$cw-chunk-outline-offset;
  bottom: -$cw-chunk-outline-offset;
  right: -$cw-chunk-outline-offset;
  width: auto;
  height: auto;

  &--t {
    box-shadow: inset 0 $cw-focus-outline-size 0 0 getVar('colors.primary');
  }

  &--l {
    box-shadow: inset $cw-focus-outline-size 0 0 0 getVar('colors.primary');
  }

  &--r {
    box-shadow: inset #{-$cw-focus-outline-size} 0 0 0 getVar('colors.primary');
  }

  &--b {
    box-shadow: inset 0 #{-$cw-focus-outline-size} 0 0 getVar('colors.primary');
  }
}