.color-swatch-inner {
  border: 1px solid #f2f2f2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  transform: scale(1.0);
  transition-property: 'transform';
  transition-duration: '.3s';
  transition-timing-function: 'ease-in';
}

.color-wall-swatches .color-swatch-inner:hover,
.color-wall-swatches .color-swatch-inner:focus {
  height: 160%;
  width: 160%;
  transform: scale(1.4);
  left: -25%;
  top: -25%;
  z-index: 216;
}

.color-wall-buttons {
  display: flex;
  align-items: center;
}

.color-wall-label {
  flex-grow: 1;
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.color-wall-button {
  display: none;
}

.color-wall-button:checked + .color-wall-label {
  background: #eaeaea;
}
