.color-swatch-inner {
  $flower-size-scale: 2;
  $flower-distance-scale: .35;

  $bloom-activate-delay: 0s;
  $bloom-activate-duration: .2s;
  $bloom-activate-z-duration: $bloom-activate-delay + $bloom-activate-duration;

  $bloom-deactivate-delay: .0s;
  $bloom-deactivate-duration: .2s;
  $bloom-deactivate-z-duration: $bloom-deactivate-delay + $bloom-deactivate-duration;

  @mixin getRaise($scale, $amt, $z, $i: '') {
    $this-scale: $amt * $scale;

    width: $this-scale unquote($i);
    height: $this-scale unquote($i);
    margin: round($this-scale / -2 + 50%) 0 0 round($this-scale / -2 + 50%) unquote($i);
    z-index: $z unquote($i);
    box-shadow: 0 0 0 1px white, 0 0 4px rgba(black, .25);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  border: 1px solid #fff;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  will-change: top, left, transform, width, height, margin, box-shadow, font-size, z-index;
  /* autoprefixer: ignore next */
  transition-property: top, left, transform, width, height, margin, z-index, box-shadow;

  transition-delay: $bloom-deactivate-delay;

  transition-duration:
    $bloom-deactivate-duration,
    $bloom-deactivate-duration,
    $bloom-deactivate-duration,
    $bloom-deactivate-duration,
    $bloom-deactivate-duration,
    $bloom-deactivate-duration,
    $bloom-deactivate-z-duration,
    $bloom-deactivate-duration;

  transition-timing-function: ease-out;
  z-index: 1;
  color: rgba(black, .9);
  cursor: pointer;
  box-shadow: 0 0 0 1px white, 0 0 0px rgba(black, .25);

  &:hover {
    @include getRaise(1, 140%, 100);
    transition-duration: 0s;
    transition-delay: .1s;
  }

  &:focus {
    @include getRaise(1, 160%, 200);
    transition-duration: 0s;
    transition-delay: 0s;
  }

  &__content {
    position: relative;
    font-size: .7rem;
    padding: .5em;
    animation: fadeIn $bloom-activate-duration ease-in-out ($bloom-activate-duration + $bloom-activate-delay) * 1.25 both;
    text-align: left;
    height: 100%;
    line-height: 1;
    overflow: hidden;

    @media (min-width: 1400px) {
      font-size: .9rem;
    }

    &__number,
    &__name {
      margin: 0;
    }

    &__name {
      font-weight: bold;
    }

    &__number {
      opacity: .6;
      font-size: .8em;
      margin-bottom: .4em;
    }

    &__add,
    &__details {
      position: absolute;
      bottom: .5em;
      color: inherit;
      cursor: pointer;
      background: none;
      border: none;
      margin: 0;
      box-shadow: none;
      opacity: .6;
      transition: all .2s;
      text-align: center;

      &:hover, &:focus {
        opacity: 1;
      }
    }

    &__add {
      left: .5em;
    }

    &__details {
      right: .5em;
    }
  }

  &--dark-color {
    color: rgba(white, .9);
  }

  &--bloom {
    /* autoprefixer: ignore next */
    transition-property: top, left, transform, width, height, margin, z-index, box-shadow;

    transition-delay: 0s !important;

    transition-duration:
      $bloom-activate-duration,
      $bloom-activate-duration,
      $bloom-activate-duration,
      $bloom-activate-duration,
      $bloom-activate-duration,
      $bloom-activate-duration,
      $bloom-activate-z-duration,
      $bloom-activate-duration !important;
  }

  &--bloom-lvl {
    &-0 {
      @include getRaise($flower-size-scale, 200%, 800, !important);
      transition-duration: 0s !important;
      cursor: default;
    }

    &-n0-5 {
      @include getRaise($flower-size-scale, 180%, 750, !important);

      &:hover, &:focus {
        @include getRaise($flower-size-scale, 195%, 750, !important);
      }
    }

    &-n1 {
      @include getRaise($flower-size-scale, 165%, 700, !important);

     &:hover, &:focus {
        @include getRaise($flower-size-scale, 180%, 700, !important);
      }
    }

    &-n1-5 {
      @include getRaise($flower-size-scale, 160%, 650, !important);

      &:hover, &:focus {
        @include getRaise($flower-size-scale, 175%, 650, !important);
      }
    }

    &-n2 {
      @include getRaise($flower-size-scale, 130%, 600, !important);

      &:hover, &:focus {
        @include getRaise($flower-size-scale, 155%, 600, !important);
      }
    }
  }

  &--offset {
    &-x {
      &-n2 {
        top: -150% * $flower-distance-scale;
        &--primary {
          top: -166% * $flower-distance-scale;
        }
      }
      &-n1 {
        top: -100% * $flower-distance-scale;
        &--primary {
          top: -125% * $flower-distance-scale;
        }
      }
      &-1 {
        top: 100% * $flower-distance-scale;
        &--primary {
          top: 125% * $flower-distance-scale;
        }
      }
      &-2 {
        top: 150% * $flower-distance-scale;
        &--primary {
          top: 166% * $flower-distance-scale;
        }
      }
    }

    &-y {
      &-n2 {
        left: -150% * $flower-distance-scale;
        &--primary {
          left: -166% * $flower-distance-scale;
        }
      }
      &-n1 {
        left: -100% * $flower-distance-scale;
        &--primary {
          left: -125% * $flower-distance-scale;
        }
      }
      &-1 {
        left: 100% * $flower-distance-scale;
        &--primary {
          left: 125% * $flower-distance-scale;
        }
      }
      &-2 {
        left: 150% * $flower-distance-scale;
        &--primary {
          left: 166% * $flower-distance-scale;
        }
      }
    }
  }
}