.color-wall-swatch-list {
  width: 100%;

  &--cover {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
  }

  &__section-title {
    align-items: flex-end;
    display: flex;
    // this is affected by the dynamic font size being applied to each cell based on that cell's height
    font-size: 1em;
    height: 100%;
    justify-content: center;
    letter-spacing: .1em;
    line-height: 1.1;
    padding: 1px 0;
    position: relative;
    text-align: center;

    &--push-up {
      bottom: 50%;
    }
  }

  // React Virtualized Grid classes
  .ReactVirtualized__Grid {
    // override component-injected styles to fix iOS problem =\
    -webkit-overflow-scrolling: auto !important;

    &__innerScrollContainer {
      margin: auto auto;
      overflow: visible !important;
    }
  }
}