.color-wall {
  font-size: $base;

  *:focus { outline: 2px solid var(getThemeColor('primary')); }

  &.enter, &.exit {
    opacity: 0;
    transform: scale(0.9)
  }

  &.enter-active, &.exit-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 200ms, transform 200ms;
  }

  .color-wall-chunk:focus-within {
    outline: $cw-focus-outline;
  }

  .color-wall-section-label {
    text-align: center;
    display: flex;
    align-items: flex-end;

    &__text {
      font-size: .75em;
      hyphens: auto;
      max-width: 100%;
      overflow-wrap: break-word;
      overflow: hidden;
      width: 100%;
      margin: auto;
      height: 50%;

      &--large {
        font-size: 0.875em;
        letter-spacing: 0.1em;
        line-height: 1.1;
      }
    }
  }

  .inner-grid {
    overflow: visible !important;
  }

  .ReactVirtualized__Grid__innerScrollContainer {
    overflow: visible !important;
    margin: auto;
  }
}

.zoom-out-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: var(getThemeColor('primary'));
  background: white;
  margin: .25em;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:hover, &:focus {
    background: #eaeaea;
  }

  &:active {
    background: #222;
    color: white;
  }
}

svg {
  &.svg-inline--fa.fa-pull-left.color-families-svg, &.svg-inline--fa.fa-pull-left.close-icon-svg {
    width: 1em;
    width: initial;
  }
}

.color-wall-mode-btns {
  font-size: $base;

  &__col {
    display: flex;
    justify-content: space-between;
    margin: 0 $ui-spacing / -2;

    @include respond-above(sm) {
      max-width: unset;
    }

  }

  &__cell {
    margin-right: $ui-spacing / 2;
    margin-left: $ui-spacing / 2;
    margin-bottom: $ui-spacing;
    max-width: 100%;

    @include respond-above(sm) {
      max-width: unset;
    }
  }

  &__right {
      margin-left: auto;
  }
}