.color-wall-swatch-list {
  width: 100%;

  &--cover {
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  &__section-title {
    align-items: center;
    display: flex;
    // this is affected by the dynamic font size being applied to each cell based on that cell's height
    font-size: 1em;
    height: 100%;
    justify-content: center;
    line-height: 1.1;
    letter-spacing: .1em;
    padding: 1px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;

    &--top-align {
      align-items: flex-start;
    }
  }

  // React Virtualized Grid classes
  .ReactVirtualized__Grid {
    // override component-injected styles to fix iOS problem =\
    -webkit-overflow-scrolling: auto !important;

    &__innerScrollContainer {
      margin: auto auto;
      overflow: visible !important;
    }
  }
}