$btn-bg: white;
$btn-spacing: $base / 2;
$btn-radius: $base / 4;
$btn-height: 30px;
$btn-height--mobile: 40px;
$btn-border-thickness: 1px;

.color-wall-wall {
  background: #eee;
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; // 1:1

  @include respond-above(xs) {
    padding-bottom: 0;
    height: 405px; // height specific to SW color wall
  }

  @include respond-above(md) {
    padding-bottom: percentage(500/1202); // ratio specific to SW color wall
    height: 0;
  }

  &__btns {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    white-space: nowrap;
    font-size: 0;

    &__btn {
      font-size: getVar('base');
      padding: 0;
      background: white;
      float: left;
      margin: .25em;
      box-shadow: 0 1px 3px -1px rgba(black, .5);
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      text-align: center;
      line-height: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover, &:focus {
        background: #eaeaea;
      }

      &:active {
        background: #222;
        color: white;
      }
    }
  }

  &__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: getVar('colors.primary');
  }

  &__message {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}


.color-wall-swatches {
  // remove whitespace around inline-block elements
  font-size: 0;
  margin: 2px 0;

  &__swatch {
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;

    &::before {
      content: unset;
    }

    &::after {
      content: unset;
    }
  }
}

.color-wall-swatch-list {
  $transition-time: getVar('colorWall.enterTransitionMS') * 1ms;

  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;

  // React Virtualized Grid classes
  .ReactVirtualized__Grid {
    &__innerScrollContainer {
      margin: auto auto;
      overflow: visible !important;
    }
  }
}

.color-wall-buttons {
  display: flex;
  align-items: center;
}

.color-wall-label {
  flex-grow: 1;
  text-align: center;
  height: 50px;
  line-height: 50px;
  padding: 0 .5em;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}

.color-wall-button {
  display: none;

  &:focus + .color-wall-label,
  &:hover + .color-wall-label {
    background: #eaeaea;
  }
  &:checked + .color-wall-label {
    background: #222;
    color: white;
  }
}

%color-wall-mode-btns-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: $btn-border-thickness solid getVar("colors.primary");
  background: $btn-bg;
  font-size: 1em;
  padding: .25em .75em;
  color: pick-text-color($btn-bg);
  text-decoration: none;
  text-align: center;
  border-radius: $btn-radius;
  font-weight: bold;
  font-size: em(10);
  text-transform: uppercase;
  overflow: hidden;
  min-height: $btn-height--mobile;
  white-space: nowrap;

  @include respond-above(xs) {
    font-size: em(11);
    min-height: $btn-height;
  }

  @include respond-above(md) {
    font-size: em(12);
  }

  &[disabled] {
    opacity: .3;
  }

  &:focus {
    box-shadow: inset 0 0 0 $btn-border-thickness getVar("colors.primary");
  }

  &:hover {
    $hover-bg: mix($btn-bg, getVar("colors.primary"), 90%);
    background: $hover-bg;
    color: pick-text-color($hover-bg);
  }
}

%color-wall-mode-btns-btn--active {
  background: getVar("colors.primary") !important;
  color: pick-text-color(getVar("colors.primary")) !important;

  &:focus {
    box-shadow: inset 0 0 0 $btn-border-thickness pick-text-color(getVar("colors.primary")) !important;
  }
}

.color-wall-mode-btns {
  font-size: $base;

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 $btn-spacing / -2;
    max-width: 100%;

    @include respond-above(sm) {
      align-items: center;
      flex-direction: row;
      max-width: unset;
    }

  }

  &__cell {
    margin-right: $btn-spacing / 2;
    margin-left: $btn-spacing / 2;
    margin-bottom: $btn-spacing;
    max-width: 100%;

    @include respond-above(sm) {
      max-width: unset;
    }
  }

  &__btn {
    @extend %color-wall-mode-btns-btn;

    &--active {
      @extend %color-wall-mode-btns-btn--active;
    }
  }

  &__option-container {
    border: $btn-border-thickness solid getVar("colors.primary");
    border-radius: $btn-radius;
    height: $btn-height--mobile;

    @include respond-above(xs) {
      height: $btn-height;
    }
  }

  &__options {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-shrink: 1;

    &__option {
      display: flex;
      align-content: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      border-left: $btn-border-thickness solid getVar("colors.primary");

      &:first-child {
        border-left: none;
        border-radius: $btn-radius 0 0 $btn-radius;
      }

      &:last-child {
        border-radius: 0 $btn-radius $btn-radius 0;
      }

      &__btn {
        @extend %color-wall-mode-btns-btn;
        min-height: $btn-height--mobile - ($btn-border-thickness * 2);
        border: none;
        border-radius: 0;

        @include respond-above(xs) {
          min-height: $btn-height - ($btn-border-thickness * 2);
        }

        &--active {
          @extend %color-wall-mode-btns-btn--active;
        }
      }
    }
  }

  &__right {
    @include respond-above(sm) {
      margin-left: auto;
    }
  }
}