.static__scene__image__wrapper {
  height: 100%;
  width: 100%;
  border-left: 2px solid var(getThemeColor('white'));
  border-right: 2px solid var(getThemeColor('white'));
  position: relative;
}

.static__scene__paint__btn{
  border: 1px solid var(getThemeColor('buttonBorder'));
  display: inline-block;
  text-align: center;
  font-family: inherit;
  width: 17em;
  background: var(getThemeColor('buttonBgColor'));
  color: var(getThemeColor('buttonColor'));
  fill: currentColor;
  padding: 1em 1.75em;
  bottom: 4em;
  position: absolute;

  &:hover{
    color:var(getThemeColor('buttonHoverColor'));
    border: 1px solid var(getThemeColor('buttonHoverBorder'));
    background: var(getThemeColor('buttonHoverBgColor'));
  }
  &:focus {
    outline-style: solid;
    outline-color: var(getThemeColor('secondary'));
    outline-width: 2px;
  }

  &__contents {
    text-transform: var(getVarName('typography.buttonTextTransform'));
    font-weight: var(getVarName('typography.buttonFontWeight'));
  }
}
