.myideas-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  &__button {
    border: 1px solid #f2f2f2;
    background: #fff;
    color:  #000;
    fill: #000;
    padding: .75em 1.75em;
    text-transform: uppercase;
    &:hover {
      border-color: #2cabe2;
      color: #2cabe2;
      cursor: pointer;
    }
    &:focus {
      outline-style: solid;
      outline-color: #2cabe2;
      outline-width: 2px;
    }
    &__button-svg {
      margin-right: 0.5em;
    }
  }
  &__button-back {
    background: none;
    border: none;
    padding: 0;
    margin-top: -126px;
    @include respond-above(sm) {
      background: #fff;
      border: 1px solid #f2f2f2;
      padding: .75em 1.75em;
      margin-top: 0;
    }
  }
  &__back-text {
    display: none;
    text-transform: uppercase;
    @include respond-above(sm) {
      display: inline-block;
    }
  }
  &__section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    &--left {
      justify-content: flex-start;
      text-align: center;
      display: flex;
      font-size: .8em;
      max-width: 120px;
      z-index: 100;
      position: absolute;
      top: 4.875rem;
      left: 0.875rem;
      @include respond-above(sm) {
        top: 0.875rem;
      }
    }
    &__no-ideas-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
  &__saved-scenes-wrapper {
    &--show {
      display: block;
    }
    &--hide {
      display: none;
    }
  }
  &__scene {
    flex: 50% 0 0;
    width: auto;
    cursor: pointer;
    position: relative;
    &--individual {
      padding: 0;
    }
    &--carousel {
      padding: 2% 4%;
    }
    @include respond-above(sm) {
      flex: 25% 0 0;
    }
    &__frame-wrapper {
      position: relative;
      width: 100%;
    }
    &__frame {
      box-shadow: 0 5px 6px -4px rgba(0, 0, 0, 120);
      border-color: #ffffff;
      border-width: 2px;
      border-style: solid;
      &__pane {
        &__thumb {
          overflow: hidden;
          /*height: 60px;
          width: 120px;*/
          border-bottom: 1px solid #ffffff;
        }

      }
      &:hover {
        outline-style: solid;
        outline-color: #2cabe2;
        outline-width: 2px;
      }
      &:focus {
        outline-style: solid;
        outline-color: #2cabe2;
        outline-width: 2px;
      }
    }
    &__edit {
      position: absolute;
      top: -8px;
      left: 8px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      cursor: pointer;

      button {
        background-color: #ffffff;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        &:focus {
          outline-style: solid;
          outline-color: #2cabe2;
          outline-width: 2px;
        }
      }
    }
    &__label {
      text-align: center;
      padding: 8px 4px 4px 4px;
      font-size: 0.8rem;
      color: #333333;
    }
    &__colors {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__color {
        height: 25px;
        flex-grow: 1;
        display: flex;
        border-left: 1px solid #ffffff;
        border-collapse: collapse;
        &:first-child {
          border: none;
        }
      }
    }
  }
}