.color-strip-button {
  padding: 2% 3%;
  flex: 50% 0 0;
  @include respond-above(sm){
    flex: 25% 0 0;
  }
  outline: none;
  &__wrapper {
    border: 3px solid var(getThemeColor('white'));
    cursor: pointer;
    outline:none;
    &:hover {
      border-color: var(getThemeColor('secondary'));
    }
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
      z-index: 100;
    }
  }
  &__swatch {
    position: relative;
    height: 106px;
    border: 3px solid var(getThemeColor('white'));
  }
  &__desc {
    margin: .65rem .65rem 0;
    font-size: .85rem;
    font-style: italic;
  }
  &__bottom-item {
    flex: 1 1 0;
    border-top: 3px solid var(getThemeColor('white'));
    &--thin-border {
      &:not(:last-child) {
        border-right: 1px solid var(getThemeColor('white'));
      }
    }
    &--thick-border {
      &:not(:last-child) {
        border-right: 3px solid var(getThemeColor('white'));
      }
    }
  }
  &__bottom-list {
    display: flex;
    height: 30px;
  }
  &__label {
    text-align: center;
    font-weight: 700;
    margin: 1.5em 0 0;
  }

  &--house-shaped {
    flex: 50% 0 0;
    padding-bottom: 22%;
    outline: none;

    @include respond-above(sm){
      flex: 25% 0 0;
      padding: 0 3% 4%;
    }

    &__swatch {
      position: relative;
      border: 3px solid var(getThemeColor('white'));
    }

    &__desc {
      margin: .65rem .65rem 0;
      font-size: .85rem;
      font-family: var(getVarName('typography.titleFontFamily'));
      font-style: normal;
      color: var(getThemeColor('primary'));
      line-height: 1rem;
    }
  }
}
