.color-detail-view {
  display: flex;
  flex-direction: column;
  position: relative;

  @include respond-above(sm) {
    flex-direction: row;
  }
}

.color-detail {
  &__info-wrapper {
    position: relative;
    width: 100%;
  }

  &__scene-wrapper {
    background: #eee;
    display: none;
    height: auto;
    position: relative;

    &--displayed {
      display: block;
    }
  }

  @include respond-above(sm) {
    &__info-wrapper {
      order: 1;
      width: 50%;
    }

    &__scene-wrapper {
      display: initial;
      order: 2;
      width: 50%;
    }
  }

  @include respond-above(md) {
    &__info-wrapper {
      width: 40%;
    }

    &__scene-wrapper {
      width: 60%;
    }
  }
}

$top-level-class-string: '.color-info';

#{$top-level-class-string} {
  $neutral-background-color: #fff;
  $strip-chip-size: 2rem;
  $strip-chip-margin: $strip-chip-size * 0.1;
  $width-thin: 0.125rem;
  $width-medium: 1rem;
  $tab-set-padding: 0.3rem 0.5rem;

  background-color: $neutral-background-color;

  &__main-info {
    padding: $width-medium;

    &--dark-color {
      color: $color-white;
    }
  }

  &__expanded-title {
    position: relative;
    z-index: 3;
  }

  &__name-number {
    padding: 0;
  }

  &__number {
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__name {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__type {
    padding: 0.15rem 0;
  }

  &__rack-location {
    padding: 0.15rem 0;
  }

  &__strip {
    background: $neutral-background-color;
    display: none;
    list-style: none;
    margin: 4rem 0 0.5rem;
    padding: $width-thin 0 $width-thin $width-thin;
  }

  &__strip-color,
  &__strip-location {
    display: inline-block;
    height: $strip-chip-size;
    margin-right: $width-thin;
  }

  &__strip-location {
    width: $strip-chip-size;
  }

  &__strip-color {
    min-width: $strip-chip-size;
    width: auto;
  }

  &__strip-color-info {
    height: 100%;
    width: 100%;

    &--active {
      width: 10rem;
    }

    &:not(.color-info__strip-color-info--active) .color-info__strip-color-name {
      @extend .visually-hidden;
    }
  }

  &__strip-location {
    align-items: center;
    background: #fff;
    display: flex;
    justify-content: center;
  }

  &__strip-location-name {
    color: $color-near-black;
    font-size: 0.9rem;
  }

  &__max-chip {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0.38, 0.25);
    transform-origin: left top;
    transition: transform 0.35s;
    width: 100%;
    z-index: 2;
  }

  &__max-chip--maximized {
    transform: scale(1, 1);
  }

  &__display-toggles-wrapper {
    height: 2rem;
    position: absolute;
    right: calc(50% + 1rem);
    transition: right 0.35s;
    top: 1rem;
    width: 2rem;
    z-index: 9 ;

    &--chip-maximized {
      right: 1rem;
    }
  }

  &__display-toggles-icon {
    height: 100%;
    width: 100%;
  }

  &__display-toggle-button {
    height: 100%;
    width: 100%;

    &--dark-color {
      color: white;
    }
  }

  &__swatch-size-toggle-button {
    display: none;
  }

  &__scene-display-toggle-button {
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    z-index: 4;

    &--alt {
      display: none
    }

    &#{$top-level-class-string}__display-toggle-button--active {
      display: none;
    }

    &#{$top-level-class-string}__scene-display-toggle-button--alt#{$top-level-class-string}__display-toggle-button--active {
      display: block;
    }
  }

  &__scene-toggle-copy {
    @extend .visually-hidden;
  }

  &__tab-list {
    align-items: center;
    border-top: $width-thin solid $neutral-background-color;
    display: flex;
    list-style: none;
  }

  &__tab {
    border-right: $width-thin solid $neutral-background-color;
    flex-grow: 1;
    font-size: 0.85rem;
    padding: $tab-set-padding;
    text-align: center;
    text-transform: uppercase;

    &:last-child {
      border-right: none;
    }

    &.react-tabs__tab--selected {
      background-color: $neutral-background-color;
      border-color: $neutral-background-color;
      border-radius: 0;
    }
  }

  &__tab-panel {
    background-color: $neutral-background-color;
    box-sizing: border-box;

    &.react-tabs__tab-panel--selected {
      height: 10rem;
      min-height: 10rem;
    }
  }

  &__coord-colors {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
    margin: $width-thin 0;
    list-style: none;
  }

  &__coord-color {
    background: #bbc;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 0 $width-medium;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__coord-color-number {
    margin: 0 0 0.3rem;
    text-transform: uppercase;
  }

  &__coord-color-name {
    font-weight: bold;
    margin: 0;
  }

  &__similar-colors {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
  }

  &__similar-color {
    height: calc(5rem - #{$width-thin} * 1.5);
    height: 5rem;
    width: calc(16.66666667% - #{$width-thin} * 0.83333334);
    width: 16.5%;

    &:nth-child(-n + 6) {
      margin-bottom: $width-thin;
    }

    &:nth-child(6),
    &:nth-child(12) {
      margin-right: 0;
    }
  }

  &__similar-color-info {
    border-color: $neutral-background-color;
    border-style: solid;
    border-width: $width-thin;
    height: 100%;
    position: relative;
    transition: transform 0.3s;
    width: 100%;
    z-index: 1;

    &--active {
      transform: scale(1.25);
      z-index: 2;

      .color-info__similar-color-info-wrapper {
        opacity: 1;
        transform: scale(0.8);
        transition: transform 0.3s, opacity 0.3s;
      }
    }
  }

  &__similar-color-info-wrapper {
    height: 100%;
    opacity: 0;
    transition: transform 0.3s, opacity 0.5s;
    width: 100%;
  }

  &__similar-color-name {
    font-weight: bold;
  }

  &__details-tab-wrapper {
    padding: 0 $width-medium 2.5rem;
  }

  &__visual-specifications {
    display: flex;
    justify-content: stretch;
    margin: 1rem 0;
  }

  &__visual-specification {
    font-size: 0.8rem;
    list-style: none;
    margin-right: 0.4rem;
  }

  &__family-link {
    display: block;
    margin: 1rem 0;
  }

  &__description-term {
    display: inline;
    font-weight: bold;
    margin-right: 0.05rem;
  }

  &__description-definition {
    display: inline;
    margin-right: 0.3rem;
  }

  @include respond-above(sm) {
    &__max-chip {
      display: block;
    }

    &__display-toggles-wrapper--chip-maximized {
      right: 2rem;
    }

    &__strip {
      display: inline-flex;
    }

    &__strip-color,
    &__strip-location {
      height: #{$strip-chip-size} * 0.9;
    }

    &__strip-color {
      min-width: #{$strip-chip-size} * 0.9;
    }

    &__strip-location {
      width: #{$strip-chip-size} * 0.9;
    }

    &__strip-color-info--active {
      width: 9rem * 0.8;
    }

    &__swatch-size-toggle-button {
      display: block;

      &#{$top-level-class-string}__display-toggle-button--active {
        display: none;
      }

      &#{$top-level-class-string}__display-toggle-button--alt#{$top-level-class-string}__display-toggle-button--active {
        display: block;
      }
    }

    &__scene-display-toggle-button {
      display: none;

      &#{$top-level-class-string}__scene-display-toggle-button--alt#{$top-level-class-string}__display-toggle-button--active {
        display: none;
      }
    }

    &__display-toggle-button--alt {
      display: none;
    }
  }

  @include respond-above(md) {
    &__strip-color,
    &__strip-location {
      height: $strip-chip-size;
    }

    &__strip-color {
      min-width: $strip-chip-size;
    }

    &__strip-location {
      width: $strip-chip-size;
    }

    &__strip-color-info--active {
      width: 9rem;
    }

    &__display-toggles-wrapper {
      right: calc(60% + 1rem);

      &--chip-maximized {
        right: 1rem;
      }
    }
  }
}