$top-level-class-string: '.color-info';
$neutral-background-color: #fff;
$neutral-foreground-color: $color-near-black;
$strip-chip-size: 2rem;
$strip-chip-margin: $strip-chip-size * 0.1;
$width-thin: 0.125rem;
$width-small: 0.250rem;
$width-medium: 1rem;
$tab-set-padding: 0.5rem 0.25rem;

.color-detail-view {
  display: flex;
  flex-direction: column;
  position: relative;

  @include respond-above(sm) {
    flex-direction: row;
  }
}

.color-detail {
  &__info-wrapper {
    margin-bottom: $width-small;
    position: relative;
    width: 100%;
  }

  &__scene-wrapper {
    background: #eee;
    display: none;
    height: auto;
    margin-bottom: $width-small;
    position: relative;

    &--displayed {
      display: block;
    }
  }

  @include respond-above(sm) {
    &__info-wrapper {
      order: 1;
      width: 50%;
    }

    &__scene-wrapper {
      display: initial;
      order: 2;
      width: 50%;
    }
  }

  @include respond-above(md) {
    &__info-wrapper {
      width: 40%;
    }

    &__scene-wrapper {
      width: 60%;
    }
  }
}

#{$top-level-class-string} {
  background-color: $neutral-background-color;

  &__main-info {
    padding: 2rem $width-medium;
    color: $color-black;

    &--dark-color {
      color: $color-white;
    }
  }

  &__expanded-title {
    position: relative;
    z-index: 3;
    font-size: 1rem;
    line-height: 1.3;
  }

  &__name-number {
    padding: 0;
    margin: 0;
    line-height: inherit;
    font-size: 1.2em;
  }

  &__number {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
    opacity: $color-near-opacity;
  }

  &__name {
    display: inline-block;
    font-weight: 600;
  }

  &__rack-location,
  &__type {
    font-size: .8em;
    font-weight: 400;
    margin: .25em 0 0 0;
    opacity: $color-near-opacity;
    padding: 0;
  }

  &__strip {
    border-bottom: $width-thin solid $neutral-background-color;
    border-top: $width-thin solid $neutral-background-color;
    display: none;
    height: 2rem;
    list-style: none;
    margin: 0 0 1rem;
    max-width: 26rem;

    @include respond-between(sm, md) {
      margin: 0;
    }
  }

  &__strip-color,
  &__strip-location {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
  }

  &__strip-color {
    border-right: $width-thin solid $neutral-background-color;
    position: relative;
  }

  &__strip-color-info {
    position: absolute;
    padding: 0.75rem 1rem;

    &--active {
      position: relative;
      padding: 0 0.5rem;
    }

    &:not(#{$top-level-class-string}__strip-color-info--active) {
      .color-info__strip-color-name {
      @extend .visually-hidden;
    }
  }
  }

  &__strip-color-name {
    &--dark-color {
      color: white;
    }
  }

  &__strip-location {
    align-items: center;
    background: #fff;
    display: flex;
    justify-content: center;
  }

  &__strip-location-name {
    color: $color-near-black;
    font-size: 0.9rem;
  }

  &__max-chip {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0.38, 0.25);
    transform-origin: left top;
    transition: transform 0.35s;
    width: 100%;
    z-index: 2;
  }

  &__max-chip--maximized {
    transform: scale(1, 1);
  }

  &__display-toggles-wrapper {
    display: none;

    @include respond-above(sm) {
      display: block;
      height: 1.5rem;
      position: absolute;
      right: calc(50% + 1rem);
      transition: right 0.35s;
      top: 1rem;
      width: 1.5rem;
      z-index: 9;

      &--chip-maximized {
        right: 1rem;
      }

      &--swatch-size {
        border: 1px solid #000;
        height: auto;
        width: auto;

        &#{$top-level-class-string}__display-toggles-wrapper--dark-color {
          border: 1px solid #fff;
          color: white;
        }
      }
    }
  }

  &__display-toggles-icon {
    height: 80%;
    width: 40%;

    &--scene#{$top-level-class-string}__display-toggles-icon.svg-inline--fa {
    height: 100%;
    width: 100%;
  }
  }

  &__display-toggle-button {
    height: 100%;
    width: 100%;

    &--dark-color {
      color: white;
    }
  }

  &__color-swatch-link {
    color: inherit;
    width: 100%;

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;

      span {
        text-decoration: underline;
      }
    }
  }

  &__swatch-size-toggle-button {
    align-items: center;
    display: none;
    justify-content: space-around;
    height: 1.5rem;
    width: 2rem;
    transform: rotate(90deg);
  }

  &__scene-display-toggle-button {
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    z-index: 4;

    &--alt {
      display: none
    }

    &#{$top-level-class-string}__display-toggle-button--active {
      display: none;
    }

    &#{$top-level-class-string}__scene-display-toggle-button--alt#{$top-level-class-string}__display-toggle-button--active {
      display: block;
    }
  }

  &__scene-toggle-copy {
    @extend .visually-hidden;
  }

  &__tab-list {
    border-top: $width-small solid $neutral-background-color;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    list-style: none;
    text-align: center;

    @include respond-above(sm) {
      border-right: $width-small solid $neutral-background-color;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-near-black;
    cursor: pointer;
    font-size: 0.85rem;
    overflow: hidden;
    padding: $tab-set-padding;
    text-align: center;
    border-right: $width-thin solid #FFF;
    width: percentage(3/1);
    border-bottom: none;

    @include respond-above(sm) {
      width: auto;
      flex: auto;
    }

    &:last-child {
      border-right: none;
    }

    &--dark-color {
      color: white;
    }

    &.react-tabs__tab--selected {
      background-color: $neutral-background-color;
      border-color: $neutral-background-color;
      border-radius: 0;
      color: $neutral-foreground-color;
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &__tab-copy {
    font-size: .8em;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
  }

  &__tab-panel {
    background-color: $neutral-background-color;
    box-sizing: border-box;
    overflow: hidden;

    &.react-tabs__tab-panel--selected {
      border-top: $width-thin solid $neutral-background-color;

      @include respond-above(sm) {
        height: 10rem;
        min-height: 10rem;
      }
    }
  }

  &__coord-colors {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    list-style: none;
    height: auto;
    padding-top: $width-thin;

    @include respond-above(sm) {
      height: 100%;
    }

    @include respond-between(sm, md) {
      flex-direction: row;
      padding-right: $width-thin / 2;
    }

    @include respond-above(md) {
      margin-right: $width-small;
      flex-direction: column;
    }
  }

  &__coord-color {
    background: #bbc;
    border-bottom: $width-small solid $neutral-background-color;
    color: $color-black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: .8rem;
    justify-content: center;
    line-height: 1.3;
    padding: $width-medium;

    @include respond-between(sm, md) {
      margin: 0 $width-thin 0 0;
      border: none;
      width: percentage(1/3);
      justify-content: flex-start;
      align-items: flex-start;
      padding: $width-medium / 2;
    }

    @include respond-above(md) {
      padding: 0 $width-medium;
    }

    &--dark-color {
      color: $color-white;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  &__coord-color-number {
    font-weight: 400;
    opacity: $color-near-opacity;
    text-transform: uppercase;
    margin: 0;
  }

  &__coord-color-name {
    font-weight: 600;
    margin: 0;
  }

  &__similar-colors {
    background-color: $neutral-background-color;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0 ($width-thin / -2);

    @include respond-above(sm) {
      margin: 0 ($width-thin * 1.5) 0 ($width-thin / -2);
    }
  }

  &__similar-color {
    border: ($width-thin / 2) solid $neutral-background-color;
    border-top-width: $width-thin;
    border-bottom-width: 0;
    display: block;
    height: 50%;
    width: percentage(1/6);
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
      width: 1px;
      height: 0;

      @include respond-above(sm) {
        display: none;
      }
    }
  }

  &__similar-color-info {
    display: block;
    height: 100%;
    transition: transform 0.3s, z-index .3s;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    &--active {
      transform: scale(1.25);
      z-index: 200;

      .color-info__similar-color-info-wrapper {
        opacity: 1;
        transform: scale(0.8);
        transition: transform 0.3s, opacity 0.3s;
      }
    }
  }

  &__similar-color-info-wrapper {
    height: 100%;
    opacity: 0;
    transition: transform 0.3s, opacity 0.5s;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &__similar-color-name {
    font-weight: bold;
  }

  &__details-tab-wrapper {
    padding: 0 $width-medium 2.5rem;
  }

  &__visual-specifications {
    display: flex;
    justify-content: stretch;
    margin: 1rem 0;
  }

  &__visual-specification {
    font-size: 0.8rem;
    list-style: none;
    margin-right: 0.4rem;
  }

  &__family-link {
    display: block;
    margin: 1rem 0;
  }

  &__description-term {
    display: inline;
    font-weight: bold;
    margin-right: 0.05rem;
  }

  &__description-definition {
    display: inline;
    margin-right: 0.3rem;
  }

  @include respond-above(sm) {
    &__main-info {
      display: flex;
      flex-direction: column;
      height: 60%;
      justify-content: space-between;
      padding: $width-medium;
    }

    &__additional-info {
      height: 40%;

      .react-tabs {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }

    &__tab {
      height: initial;
    }

    &__tab-panel {
      &.react-tabs__tab-panel--selected {
        height: inherit;
        min-height: inherit;
      }
    }

    &__max-chip {
      display: block;
    }

    &__display-toggles-wrapper--chip-maximized {
      right: 2rem;
    }

    &__strip {
      display: flex;
    }

    &__swatch-size-toggle-button {
      display: flex;

      &#{$top-level-class-string}__display-toggle-button--active {
        display: none;
      }

      &#{$top-level-class-string}__display-toggle-button--alt#{$top-level-class-string}__display-toggle-button--active {
        display: flex;
      }
    }

    &__scene-display-toggle-button {
      display: none;

      &#{$top-level-class-string}__scene-display-toggle-button--alt#{$top-level-class-string}__display-toggle-button--active {
        display: none;
      }
    }

    &__display-toggle-button--alt {
      display: none;
    }
  }

  @include respond-above(md) {
    &__display-toggles-wrapper {
      right: calc(60% + 1rem);

      &--chip-maximized {
        right: 1rem;
      }
    }
  }

  @include respond-above(lg) {
    &__strip {
      max-width: 28rem;
    }

    &__strip-color-info--active {
      padding: 0 1rem;
    }
  }
}