.cwv3__col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;

  &--align-start {
    justify-content: flex-start;
  }
  &--align-justify {
    justify-content: space-between;
  }
  &--align-center {
    justify-content: center;
  }
  &--align-end {
    justify-content: flex-end;
  }
}