.merge-canvas-image-comp {
  // !important is added to fix Toolkit overriding these properties
  visibility: hidden !important;
  display: none !important;
}

.merge-canvas {
  position: absolute;
  display: block;
}
