.info-button {
    display: flex;
    flex-direction: column;
    width: 22px;
    height: 22px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    .info-button-color-strip {
        border: 1px solid #333;
        width: inherit;
        flex: 1 1 0;
    }

    &.outlined { border: 2px solid; }
}
