<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <title>Lowes Color Wall Chunk Clickable</title>
</head>

<body>

  <div
    id="prism-embed-root"
    class="prism-color-wall"
    data-prism-facet="ColorWallChunkChipFacet"
    data-brand="lowes"
    data-color-wall-bg-color="#FFF"
    data-chunk-clickable
    data-hide-chunk-label
    data-language="en-US"
    data-max-scene-height="640"
    data-route-type="hash"
  ></div>

  <script src='<%= BASE_PATH %>/embed.js'></script>
  <script>
    (() => {
      window.PRISM.embed(document.getElementById( 'prism-embed-root' ))
    })()
  </script>

</body>

</html>
