<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>Lowes QR Chip</title>
</head>

<body>
<div id="prism-embed-root"
     data-prism-facet="ColorWallChip"
     data-color-wall-bg-color="#FFF"
     data-language="en-US"
     data-route-type="hash"
     data-max-scene-height="640"
     data-brand="lowes"
     data-always-show-color-families
     data-color-detail-page-root="https://localhost:8080/qrc-color-chip"
     data-color-details-add-color></div>

<script src="<%= BASE_PATH %>/embed.js"></script>
<script>
  (() => {
    window.PRISM.embed(document.getElementById( 'prism-embed-root' ), {
      bindCallback: ({ publish, subscribe }) => {}
    })
  })()
</script>
</body>
</html>
