<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>Lowes Color Visualizer</title>
</head>

<body>
<div id="prism-embed-root"
     data-prism-facet="ColorVisualizer"
     data-color-wall-bg-color="#FFF"
     data-language="en-US"
     data-page-root="/cvw"
     data-default-route="/active/color-wall/"
     data-route-type="hash"
     data-max-scene-height="640"
     data-brand="lowes"
     data-always-show-color-families></div>

<script src='/embed.js'></script>
<script>
  (() => {
    window.PRISM.embed(document.getElementById( 'prism-embed-root' ), {
      bindCallback: ({ publish, subscribe }) => {
        subscribe('prism-new-color', color => {
          console.info({ event: 'prism-new-color', data: color })
          publish('PRISM/in/update-color-ctas', [
            {
              text: 'Buy paint in ' + color.name,
              link: '#test'
            },
            {
              text: 'Buy paint with no color at all',
              link: '#test'
            }
          ])
        })
      }
    })
  })()
</script>

</body>

</html>
