<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">
  <title>Valspar QR Color Wall</title>
</head>

<body>

  <div
    id="prism-embed-root"
    data-prism-facet="ColorWallChunkChipFacet"
    data-brand="valspar"
    data-color-wall-bg-color="#FFF"
    data-chunk-clickable
    data-chunk-mini-map
    data-language="en-US"
    data-route-type="hash"
  ></div>

  <script src='<%= BASE_PATH %>/embed.js'></script>
  <script>
    (() => {
    const baseHostUrl = window.location.origin
    const kebabCase = (string) => string.replace(/[\W_]+|(?<=[a-z0-9])(?=[A-Z])/g, '-')
    window.PRISM.embed(document.getElementById('prism-embed-root'), {
      colorDetailPageRoot: (color) => `${baseHostUrl}/inspiration/colors/${color.colorFamilyNames[0]}/${kebabCase(color.name)}-${color.colorNumber}`.toLowerCase(), // example
      colorWallPageRoot: (colorGroup) => `${baseHostUrl}/prism-templates/templates/cbg/valspar-qr-color-wall.html#/active/color-wall/section/${kebabCase(colorGroup).toLowerCase()}`
    })
  })()
  </script>

</body>

</html>
