.swatch-content {
  border: 1px solid white !important;

  &__name-number {
    display: flex;
    flex-direction: column-reverse;

  }

  &__number-name {
    padding: 0.75rem 0.75rem 0.6rem;
  }

  &__label {
    line-height: 1.1;

    &--name {
      font-weight: bold;
      max-width: 100%;
      overflow-wrap: break-word;
      hyphens: auto;
      font-size: .9em;

      @include respond-above(sm) {
        font-size: 1em;
      }
    }

    &--number {
      opacity: $color-near-opacity;
      font-size: .7em;
      margin-bottom: 0.3em;

      @include respond-above(sm) {
        font-size: .8em;
        margin-bottom: 0.4em;
      }
    }
  }

  &__button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.6rem;
    font-size: 13px;

    &--xs {
      font-size: 11px;
    }

    &--lg {
      font-size: 16px;
    }
    button {
      display: flex;
      align-items: center;
    }
  }

  &--house-shaped {
    transform: scale(0.33) translate3d(-102%, -445%, 0);
    width: 306%;
    height: 110%;

    &__btns {
      position: relative;
      margin-top: 64%;
    }

    &__label {
      position: relative;
      padding: 0.75rem 0.75rem 0.6rem;
      width: 100%;
      background: white;
      border: 1px solid lightgray !important;
      border-top: none !important;
      text-align: center;
      line-height: 1.3rem;

      &--name {
        color: var(getThemeColor('black'));
        font-family: var(getVarName('typography.bodyFontFamily'));
        font-style: italic;
      }

      &--number {
        color: var(getThemeColor('primary'));
        font-family: var(getVarName('typography.titleFontFamily'));
        font-size: .85rem;
      }
    }
  }
}
