@mixin hover-style {
  background: var(getThemeColor('buttonHoverBgColor'));
  border-color: var(getThemeColor('buttonHoverBorder'));
  color: var(getThemeColor('buttonHoverColor'));
}

@mixin focus-style {
  outline-color: var(getThemeColor('secondary'));
  outline-style: solid;
  outline-width: 2px;
}

.image-ingest-view {
  &__wrapper {
    border: 1px solid transparent;
    font-family: var(getVarName('typography.titleFontFamily')) !important;
  }

  &__container {
    min-height: 15rem;
  }

  &__header {
    display: block;
    position: relative;
  }

  &__button {
    background: var(getThemeColor('buttonBgColor'));
    border: 1px solid var(getThemeColor('buttonBorder'));
    color: var(getThemeColor('buttonColor'));
    display: flex;
    font-family: inherit;
    position: absolute;
    top: 0.35rem;
    z-index: 1001;
    padding: 0.45em;

    &:focus {
      @include focus-style;
    }
    &:hover {
      @include hover-style;
    }

    &--left {
      left: 0.35rem;
    }
    &--right {
      right: 0.35rem;
    }

    @include respond-above(sm) {
      padding: 0.75em 1.75em;
      top: 0.875rem;
      &--left {
        left: 0.875rem;
      }
      &--right {
        right: 0.875rem;
      }
    }
  }

  &__button-left-text {
    display: none;
    margin-left: 0.4rem;
    text-transform: uppercase;
    @include respond-above(sm) {
      display: inline-block;
    }
  }

  &__close {
    display: none;
    text-transform: uppercase;
    @include respond-above(sm) {
      display: block;
    }
    &--icon {
      margin-left: 0.4rem;
    }
  }

  &__cancel {
    display: block;
    @include respond-above(sm) {
      display: none;
    }
  }

  &__image-rotator {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(getThemeColor('primaryBg'));
  }

  &__controls {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  &__rotate-arrow {
    font-size: 2.25rem !important;
    padding: 0.375rem !important;

    &:focus {
      @include focus-style;
    }
  }

  &__agree-terms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.125rem;

    &--checkbox-label {
      cursor: pointer;

      &:focus {
        @include focus-style;
      }
    }

    &--text {
      margin-left: 0.5rem;

      a {
        text-decoration: underline !important;
        text-decoration-color: var(getThemeColor('buttonBorder')) !important;
        color: var(getThemeColor('primary')) !important;
      }
    }
  }

  &--done {
    font-size: small !important;
    margin-bottom: 1.25rem !important;
    padding: 0.75rem 1.4rem !important;
    background: var(getThemeColor('buttonBgColor')) !important;
    border: 1px solid var(getThemeColor('light')) !important;
    color: var(getThemeColor('light')) !important;

    &-active {
      border: 1px solid var(getThemeColor('buttonBorder')) !important;
      color: var(getThemeColor('buttonColor')) !important;

      &:focus {
        @include focus-style;
      }
    }
  }
}
