@mixin hover-style {
  background: var(getThemeColor('buttonHoverBgColor'));
  border-color: var(getThemeColor('buttonHoverBorder'));
  cursor: pointer;
  color: var(getThemeColor('buttonHoverColor'));
}

@mixin focus-style {
  outline-style: solid;
  outline-color: var(getThemeColor('secondary'));
  outline-width: 2px;
}

.image-ingest-view {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    // max-width: 1050px;
    overflow: hidden;
    /*padding: 3em 0;*/
    width: 100%;
    font-family: var(getVarName('typography.titleFontFamily'));
    @include respond-above(sm) {
      padding: 0em;
    }
  }
  &__container {
    display: block;
    min-height: 100%;
    position: relative;
    width: 100%;
  }
  &__canvas {
    margin: 0 auto;
    text-align: center;
    display: block;
    min-height: 14.3rem;
  }
  &__header {
    display: block;
    position: relative;
  }
  &__button {
     background: var(getThemeColor('buttonBgColor'));
     border: 1px solid var(getThemeColor('buttonBorder'));
     color: var(getThemeColor('buttonColor'));
     cursor: pointer;
     display: flex;
     fill: currentColor;
     font-family: inherit;
     outline: none;
     position: absolute;
     text-align: center;
     top: .35rem;
     width: auto;
     z-index: 1001;
     padding: .45em;

     &:focus {
       @include focus-style
     }
     &:hover {
       @include hover-style
     }
     &--left {
       left: .35rem;
     }
     &--right {
       right: .35rem;
     }
     @include respond-above(sm) {
      padding: .75em 1.75em;
      top: .875rem;
      &--left {
        left: .875rem;
      }
      &--right {
        right: .875rem;
      }
     }
   }
  &__button-left-text {
    display: none;
    margin-left: .4rem;
    text-transform: uppercase;
    @include respond-above(sm) {
      display: inline-block;
    }
  }
  &__close {
    display: none;
    text-transform: uppercase;
    @include respond-above(sm) {
      display: block;
    }
    &--icon {
      margin-left: .4rem;
    }
  }
  &__cancel {
    display: block;
    @include respond-above(sm) {
      display: none;
    }
  }
}
