.cwv3__chunk {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: stretch;
  align-items: stretch;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &--focus, &:focus-within {
    outline: 2px solid var(getThemeColor( "primary" )) !important;
    z-index: 1;
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;

    &--align-start {
      justify-content: flex-start;
    }
    &--align-justify {
      justify-content: space-between;
    }
    &--align-center {
      justify-content: center;
    }
    &--align-end {
      justify-content: flex-end;
    }

    // TODO: remove this when everything can be handled through data
    &__family {
      justify-content: flex-start;
    }
  }
}

.cwv3__chunk--no-focus { &--focus, &:focus-within { outline: none !important } }

.cwv3__swatch {
  $bloom-duration: 200ms;
  $swatch-white-border: inset 0 0 0 1px white;

  @mixin bloom($small-screen-scale-amt, $large-screen-scale-amt, $z) {
    z-index: $z !important;
    transform: scale($small-screen-scale-amt);
    transition: transform $bloom-duration;
    @include respond-above(sm) { transform: scale($large-screen-scale-amt); }
  }

  box-shadow: $swatch-white-border;

  &:focus {
    outline: 1.5px solid var(getThemeColor('primary'));
    z-index: 950;
  }

  &--active {
    @include bloom(2.66, 3, 1001);
    padding: 0 !important;
    box-shadow: $swatch-white-border, 0 0 2px 0 rgba(black, .25);
  }

  &--perimeter {
    box-shadow: $swatch-white-border, 0 0 2px 0 rgba(black, .25);

    &--1 {
      @include bloom(2, 2.36, 958);
    }

    &--2 {
      @include bloom(2, 2.08, 957);
    }

    &--3 {
      @include bloom(1.41, 1.74, 956);
    }

    &--4 {
      @include bloom(1.30, 1.41, 955);
    }
  }

  &--house-shaped {
    box-shadow: none;
    filter: drop-shadow(0px 2px 2px rgba(black, .1));
    transition: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -29.25%;
      width: 100%;
      height: 30%;
      background-color: inherit;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      cursor: default;
    }
  }
}