.tintable-view {
  &__wrapper {
    width: 100%;
    height: auto;
    position: relative;
  }
  &__clear-areas-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(getThemeColor('light'));
    color: var(getThemeColor('light.contrast'));
    padding: 0.5rem;
  }
  &__clear-areas-btn__icon {
    padding: 0.125rem;
    font-size: 1rem;
  }
  &__clear-areas-btn__text {
    padding: 0.5rem 0.125rem;
  }
  &__custom-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
