.prism-slick-carousel {
  &__wrapper {
    position: relative;
    width:100%;

    &__indicators {
      $size: 10px;

      position: absolute;
      bottom: $size;
      left: 0;
      width: 100%;
      text-align: center;
      line-height: 0;

      &__indicator {
        display: inline-block;
        border-radius: 50%;
        width: $size;
        height: $size;
        background: var(getThemeColor('buttonBgColor.darker.trans'));
        box-shadow: 0 0 1px 0 var(getThemeColor('buttonBgColor.darker.contrast.transer'));
        transition: all .1s ease-out;
        margin: 0 ($size / 2);

        &--active {
          background: var(getThemeColor('buttonColor'));
          box-shadow: 0 0 0 0.5px var(getThemeColor('buttonColor.contrast.transer'));
          transition: none;
        }
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
      &__prev-btn__wrapper{
        align-items: center;
        display: flex;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0%, -50%);
        z-index:1000;
      }
      &__next-btn__wrapper{
        align-items: center;
        display: flex;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        z-index:1000;
      }
      &__buttons {
        border: 1px solid var(getThemeColor('buttonBorder'));
        fill: currentColor;
        cursor: pointer;
        font-size: 1em;
        outline: none;
        padding: 1em;
        background-color: var(getThemeColor('buttonBgColor'));
        color: var(getThemeColor('buttonColor'));
        &:hover {
          border: 1px solid var(getThemeColor('buttonHoverBorder'));
          color: var(getThemeColor('buttonHoverColor'));
          background-color: var(getThemeColor('buttonHoverBgColor'));
        }
        &:focus {
          outline-style: solid;
          outline-color: var(getThemeColor('secondary'));
          outline-width: 2px;
          z-index: 100;
        }
      }
      &__list__wrapper {
        height: 100%;
        padding: 3em 0;
        width: 100%;
        overflow: hidden;

        &--loop{
          padding: 0;
          @include respond-above(sm) {
            padding: 1em 5em 0em 5em;
          }
        }
      }
    }
  }
}

.collection-list {
  &__wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    vertical-align: top;
  }
  &__container{
    white-space: nowrap;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    &--non-transition{
      transition-duration: 0ms;
    }
  }
}
