.ErrorBoundary {
  background: white;
  color: rgba(black, .7);
  font-size: 14px;
  line-height: 1.2;
  overflow: auto;
  padding: 10px;

  &__title {
    color: getVar('colors.error');
    font-size: 1.2em;
    margin: 0 0 1em;
    padding: 0;
  }

  &__message {
    font-size: 1em;
    margin: 1em 0 2em;
  }

  &__btn {
    margin: 0;
    padding: 0;
    text-decoration: underline;
  }

  &__details {
    background: rgba(black, .05);
    border-radius: 1px;
    border: none;
    color: rgba(black, .7);
    font-family: monospace;
    font-size: .8rem;
    margin: 0;
    max-width: 100%;
    min-height: 9em;
    min-width: 100%;
    overflow: auto;
    padding: 1em;
    width: 100%;
  }
}