.match-photo-picker {
  &__wrapper {
    width: 100%;
    /* @todo - This just stopped the annoy jank, needs to be properly fixed. -RS */
    cursor: pointer;
  }
  &__canvas {
    &--portrait {
      margin: 0 auto;
      text-align: center;
      display: block;
    }
  }
}