.color-set-wrapper {
    align-items: center;
    background-color: var( --light-cream );
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: var( --color-set-wrapper-padding );
    width: 33%;
    
    /* opacity: 0.2; */
}

.color-list__title {
    border-top-right-radius: var( --default-border-radius );
    border-top-left-radius: var( --default-border-radius );
    color: var( --light-cream );
    font-size: var( --filter-list-title-font-size );
    margin: 0;
    padding: var( --filter-list-title-padding );
    text-align: center;
}

/* .color-list__title-number {
    color: var( --light-cream );
    display: inline;
    font-size: var( --filter-list-title-font-size );
    line-height: var( --filter-list-title-font-size );
    vertical-align: top;
} */

.color-list__copy {
    font-weight: 300;
    font-size: var( --filter-list-copy-font-size );
    margin: var( --filter-list-copy-margin );
    overflow: hidden;
    transform: scaleY( 1 );
    transition: var( --transition-transform-short );
}

.color-list__color {
    position: relative;
}

.color-list__wrapper {
    align-items: center;
    background-color: var( --dark-brown );
    border-radius: var( --default-border-radius );
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: var( --filter-list-wrapper-margin-top );
    max-height: 400px;
    max-width: 475px;
    overflow: hidden;
    width: 100%;
}

.color-list--families {
    margin-top: 0;
}

.color-list__content {
    background-color: #fff;
    display: flex;
    height: 0;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity calc( var( --trans-time-short ) * 1s ), height calc( var( --trans-time-short ) * 1s );
    width: 100%;
    will-change: height;
}

ul.color-list {
    grid-gap: var( --grid-gap );
}

li.color-list__color {
    border-radius: var( --default-border-radius );/
}

.color-list__button {
    border-radius: var( --default-border-radius );
}

.color-list__color {
}
.color-list__button {
}
.color-list {
}
.color-list__color {
}
.color-list__button {
}