/* ------------------ ############ RESETS ############ ------------------ */
html, button, body, div, span, section, ul, li, h1, h2, h3, h4, h5, p {
  box-sizing: border-box;
  color: #111112;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a:hover,
a:focus,
button:hover,
button:focus {
    outline: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: normal;
  width: auto;
  overflow: visible;
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local( 'Raleway Light' ), local( 'Raleway-Light' ), url( /src/fonts/raleway100.woff2 ) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local( 'Raleway Light' ), local( 'Raleway-Light' ), url( /src/fonts/raleway300.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local( 'Raleway' ), local( 'Raleway-Regular' ), url( /src/fonts/raleway400.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local( 'Raleway Bold' ), local( 'Raleway-Bold' ), url( /src/fonts/raleway700.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local( 'Raleway Black' ), local( 'Raleway-Black' ), url( /src/fonts/raleway900.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ------------------ ############ GENERAL ############ ------------------ */
#app-wrapper {
  background-color: #fff;
  height: 100%;
  margin: 0 auto;
  max-height: 1280px;
  max-width: 1940px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.color-set-wrapper,
.color-list__button,
.scene,
.scene__room,
.scene__room-wrapper,
.scene__room__tinted-wrapper,
.scene__color-info-wrapper,
.scene__color-info-copy-wrapper,
.scene__color-info {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.center-content {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

/* ------------------ ############ VARIABLES ############ ------------------ */
body {
    --light-cream: #dfdfde;
    --dark-brown: rgb(34, 32, 26);
    --trans-time-short: 0.5;
    --tintedSceneFilter: initial;
    --sceneTintColor: #fff;
    --default-border-radius: 1.1vmin;
    --grid-gap: 0.15vw;
    --color-set-wrapper-padding: 0.6vmin;
    --filter-list-title-padding: 0.5vmin 0.55vmin;
    --filter-list-wrapper-margin-top: 1.65vmin;
    --filter-list-height: 10vmin;
    --filter-list-copy-margin: 1vmin 0.75vmin 1vmin;
    --filter-list-title-font-size: calc( 13px + 0.75vmin );
    --filter-list-copy-font-size: calc( 11px + 0.75vmin );
}

/* ------------------ ############ APP STATE - COLOR LISTS ############ ------------------ */
.state-select-favorites .color-list__wrapper--favorites .color-list__content,
.state-view-favorites .color-list__wrapper--favorites .color-list__content,
.state-select-families .color-list__wrapper--families .color-list__content,
.state-select-value .color-list__wrapper--value .color-list__content {
    height: 15%;
    opacity: 1;
}

.state-select-favorites .color-list__wrapper--suggestions .color-list__content {
    height: 53%;
    opacity: 1;
}

/* ------------------ ############ APP STATE - ROOM DETAIL ############ ------------------ */
.state-is-tinted.state-detail .scene__room--natural,
.state-is-tinted.state-detail .scene__room__tinted-wrapper--rear-wall,
.state-is-tinted.state-detail .scene__room__tinted-wrapper--fixtures {
    opacity: 0;
}

.state-detail .scene__color-info-wrapper {
    transform: scale( 1 );
}

.state-detail .scene__color-info-copy-wrapper {
    transform: scaleY( 1 );
}

.state-detail .scene__color-info-copy {
    opacity: 1;
    transform: translateY( 0 );
}

.state-detail-animating .scene__color-info-copy {
    transition: opacity 0.15s, transform 1s;
    transition-delay: 0s, 1s;
}

/* ------------------ ############ VIEWPORT MEDIA QUERIES ############ ------------------ */
/* SMALL - LANSCAPE */
@media ( max-width: 500px ) and ( max-aspect-ratio: 2/3 ), ( max-width: 650px ) and ( max-aspect-ratio: 1/2 ) {
    body {
        --filter-list-title-font-size: 16px;
        --filter-list-copy-font-size: 14px;
    }
}

/* SMALLISH - VERY LANSCAPE */
@media ( min-width: 651px ) and ( min-aspect-ratio: 2/1 ), ( max-width: 999px ) and ( min-aspect-ratio: 2/1 ) {
    .state-select-favorites .color-list__wrapper--favorites .color-list__content,
    .state-view-favorites .color-list__wrapper--favorites .color-list__content,
    .state-select-families .color-list__wrapper--families .color-list__content,
    .state-select-value .color-list__wrapper--value .color-list__content {
        height: 18%;
        opacity: 1;
    }
}

/* SMALLISH - LANSCAPE */
@media ( min-width: 651px ) and ( orientation: landscape ), ( max-width: 999px ) and ( orientation: landscape ) {
    .state-select-favorites .color-list__wrapper--favorites .color-list__content,
    .state-select-families .color-list__wrapper--families .color-list__content,
    .state-select-value .color-list__wrapper--value .color-list__content {
        height: 35%;
        opacity: 1;
    }

    .state-select-favorites .color-list__wrapper--favorites .color-list__content {
        height: 26%;
    }

    body {
        --grid-gap: 0.17vw;
    }
}

/* SMALL - PORTRAIT */
@media ( max-width: 500px ) and ( max-aspect-ratio: 2/3 ), ( max-width: 650px ) and ( max-aspect-ratio: 1/2 ) {
    body {
        --filter-list-title-font-size: 16px;
        --filter-list-copy-font-size: 14px;
        --filter-list-height: 10vmin;
        --grid-gap: 0.18vw;
    }

    .state-select-favorites .color-list__wrapper--favorites .color-list__content,
    .state-view-favorites .color-list__wrapper--favorites .color-list__content,
    .state-select-families .color-list__wrapper--families .color-list__content,
    .state-select-value .color-list__wrapper--value .color-list__content {
        height: 35%;
    }
}

/* MEDIUM - LANSCAPE */
@media ( min-width: 1000px ) and ( min-aspect-ratio: 4/3 ), ( min-width: 1250px ) and ( min-aspect-ratio: 3/2 ), ( min-width: 1500px ) and ( min-aspect-ratio: 2/1 ) {
    body {
        --filter-list-title-font-size: 17px;
        --filter-list-copy-font-size: 15px;
        --filter-list-height: 8vmin;
        --filter-list-title-padding: 0.7vmin 0.7vmin;
        --filter-list-copy-margin: 1.5vmin 1.3vmin;
        --grid-gap: 0.18vw;
    }

    .state-select-favorites .color-list__wrapper--suggestions .color-list__content {
        height: 42%;
    }

    .state-select-favorites .color-list__wrapper--favorites .color-list__content {
        height: 28%;
    }
}

/* MEDIUM - PORTRAIT */
@media ( min-width: 650px ) and ( max-aspect-ratio: 3/4 ), ( min-width: 800px ) and ( max-aspect-ratio: 2/3 ),  ( min-width: 1000px ) and ( max-aspect-ratio: 1/2 ) {
    body {
        --default-border-radius: 1.3vmin;
        --filter-list-title-font-size: 17px;
        --filter-list-copy-font-size: 15px;
        --filter-list-height: 6vmin;
        --filter-list-title-padding: 0.7vmin 0.7vmin;
        --filter-list-copy-margin: 1.5vmin 1.3vmin;
        --grid-gap: 0.20vw;
    }

    .state-select-favorites .color-list__wrapper--suggestions .color-list__content {
        height: 42%;
    }
}

/* LARGE - LANSCAPE and PORTRAIT */
@media ( min-width: 1450px ) and ( min-aspect-ratio: 4/3 ), ( min-width: 1200px ) and ( orientation: portrait ), ( min-width: 1800px ) {
    body {
        --default-border-radius: 1.5vmin;
        --filter-list-title-font-size: 22px;
        --filter-list-copy-font-size: 18px;
        --filter-list-height: 7vmin;
        --grid-gap: 0.25vw;
    }

    .scene__color-info-copy {
        font-size: 18px;
    }
    
    .scene__color-info--name {
        font-size: 45px;
    }
    
    .scene__color-info--coord1 .scene__color-info-copy,
    .scene__color-info--coord2 .scene__color-info-copy {
        font-size: 18px;
    }
    
    .scene__color-info--coord1 .scene__color-info--name,
    .scene__color-info--coord2 .scene__color-info--name {
        font-size: 32px;
    }

    .state-select-favorites .color-list__wrapper--favorites .color-list__content,
    .state-select-families .color-list__wrapper--families .color-list__content,
    .state-select-value .color-list__wrapper--value .color-list__content {
        height: 40%;
    }

    .state-select-favorites .color-list__wrapper--favorites .color-list__content {
        height: 24%;
    }
}