.scene {
    left: 33%;
    overflow: hidden;
    width: 67%;
}

.scene__room {
    object-fit: cover;
}

.scene__room-wrapper {
    overflow: hidden;
}

.scene__room__tinted-wrapper--rear-wall,
.scene__room__tinted-wrapper--fixtures,
.scene__room--natural {
    -webkit-mask-image: url( '../images/room-mask.png' );
    -webkit-mask-size: cover;
    -webkit-mask-position: 50% 50%;
    mask-size: cover;
    opacity: 0;
    transition: opacity 0.9s;
}

.scene__room--natural,
.state-is-tinted .scene__room__tinted-wrapper--rear-wall,
.state-is-tinted .scene__room__tinted-wrapper--fixtures {
    opacity: 1;
}

.scene__room__tinted-wrapper--rear-wall {
    -webkit-mask-image: url( '../images/rear-wall-mask.png' );
}

.scene__room__tinted-wrapper--fixtures {
    -webkit-mask-image: url( '../images/fixtures-mask.png' );
}

.scene__room--tinted {
    filter: grayscale(100);
    mix-blend-mode: multiply;
}

.scene__favorite-cta,
.scene__color-info-cta {
    align-items: center;
    background-color: #fff;
    border-radius: 5vmin;
    box-shadow: 0 0 1.5vmin rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 8vmin;
    justify-content: space-between;
    padding: 0.5vmin 2vmin;
    z-index: 9;
}

.center-content--favorite-cta,
.center-content--color-info-cta {
    display: none;
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
}

.center-content--favorite-cta {
    bottom: 5vmin;
}

.center-content--color-info-cta {
    top: 2%;
}

.scene__color-info-cta-icon,
.scene__favorite-cta-icon {
    margin-right: 0.7vmin;
    width: 5vmin;
}

.state-is-tinted .center-content--favorite-cta,
.state-is-tinted .center-content--color-info-cta {
    display: flex;
    opacity: 1;
}

.scene__favorite-cta-icon--subtract {
    display: none;
}

/* .scene__color-info-cta-copy {
}

.scene__favorite-cta {
}

.scene__favorite-cta-copy {
} */

.scene__color-info-wrapper {
    display: none;
    left: 1%;
    opacity: 0;
    top: 1%;
    transform: scale( 0.1 );
    transform-origin: top left;
    transition: transform 0.35s, opacity 1s;
    /* will-change: transform, opacity; */
}

.state-is-tinted .scene__color-info-wrapper {
    display: block;
    opacity: 1;
}

.scene__color-info {
    border-radius: 1.5vmax;
    display: block;
    height: 5.9%;
    height: 52%;
    left: 2%;
    overflow: hidden;
    position: absolute;
    top: 23%;
    width: 52%;
    z-index: 3;
}

.scene__color-info--main .scene__color-info-copy-wrapper {
    padding-top: 3vmax;
}

.scene__color-info--coord1,
.scene__color-info--coord2 {
    height: 38%;
    left: 56%;
    top: 11%;
    width: 40.5%;
}

.scene__color-info--coord2 {
    top: 51%;
}

.scene__color-info-copy-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    transform: scaleY( 5 );
    transform-origin: top left;
    transition: transform 0.3s;
    width: 100%;
    will-change: transform;
}

.scene__color-info-copy {
    color: aliceblue;
    display: block;
    font-size: 4vmin;
    font-weight: 100;
    line-height: 1em;
    padding: 3vmin 1vmin 0 1vmin;
    text-align: left;
    opacity: 0;
    position: relative;
    transform: translateY( -300% );
    transform-origin: top left;
    transition: opacity 0.5s, transform 0.4s;
    transition-delay: 0.1s, 0.1s;
    will-change: opacity transform;
}

.scene__color-info--name {
    font-size: 8vmin;
    padding-top: 0.75vmin;
}

.scene__color-info--coord1 .scene__color-info-copy,
.scene__color-info--coord2 .scene__color-info-copy {
    font-size: 2.8vmin;
}

.scene__color-info--coord1 .scene__color-info--name,
.scene__color-info--coord2 .scene__color-info--name {
    font-size: 5.75vmin;
}