.SearchBar {
  $input-bg: var(getThemeColor('white'));
  $input-padding: 0.5em;
  $clear-size: 1em;
  font-family: var(getVarName('typography.titleFontFamily'));

  &__search-form {
    width: 100%;
  }

  &__label {
    cursor: default;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0.25em;
  }

  &__icon {
    margin: 0 $ui-spacing 0 0;
  }

  &__cancel-button {
    margin: 0 0 0 $ui-spacing;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $ui-spacing;
  }

  &__wrapper {
    background: $input-bg;
    position: relative;
    margin: 0;
    flex: 1;
    height: $ui-height-min--mobile;
    border-radius: var(getVarName('typography.textInputBorderRadius'));

    @include respond-above(xs) {
      height: $ui-height-min;
    }

    &--without-outline {
      border: 1px solid $color-light-grey;
    }

    &--with-outline {
      border: 1px solid var(getThemeColor('primary'));
      box-shadow: inset 0 0 0 1px var(getThemeColor('primary'));
    }
  }

  &__input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: $ui-height-min--mobile;
    text-indent: $input-padding;
    padding: 0 $clear-size + (2 * $input-padding) 0 0;

    @include respond-above(xs) {
      line-height: $ui-height-min;
    }
  }

  .SearchBar__input::placeholder {
    color: var(getThemeColor('primaryPlaceholder'));
  }

  @media (max-width: 420px) {
    .SearchBar__input::placeholder {
      font-size: 1em;
    }
  }

  @media (max-width: 380px) {
    .SearchBar__input::placeholder {
      font-size: 0.8em;
    }
  }

  &__clean {
    position: absolute;
    right: ($clear-size / 2) + $input-padding;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    font-size: $clear-size;
    width: $clear-size * 1.5;
    height: $clear-size * 1.5;
    border-radius: 50%;

    &:hover,
    &:focus {
      box-shadow: inset 999em 0 0 0 rgba(white, 0.9);
      background: var(getThemeColor('primary'));
      color: var(getThemeColor('dark'));
    }
  }
}

.SearchBarLight {
  &__wrapper {
    border: none;
    color: #404040;
  }

  &__input::placeholder {
    color: #404040;
    font-size: inherit !important;
  }

  &__back {
    font-size: 1rem;
    margin-right: $ui-spacing;
  }

  &__icon {
    font-size: 12px;
    margin: 0 0 0 $ui-spacing;
    order: 3;
  }
}

.SearchBarMinimal {
  .button-bar__options__option__btn {
    background: none !important;
    color: black !important;
    text-transform: none;
  }

  .button-bar__options__option__btn,
  .SearchBar__input {
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
  }

  .button-bar__option-container {
    border: none !important;
  }
}
