.info-button {
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('dark'));
      outline-width: 2px;
      z-index: 100;
    }

    .info-button-color-strip {
        border: 1px solid var(getThemeColor('dark.lighter'));
        width: inherit;
        flex: 1 1 0;
    }

    &.outlined { border: 2px solid; }
}
