.SearchBar {
  $input-bg: white;
  $input-padding: .5em;
  $clear-size: 1em;

  &__search-form {
    width: 100%;
  }

  &__label {
    cursor: default;
    display: inline-block;
    font-size: .9em;
    font-weight: bold;
    margin-bottom: .25em;
  }

  &__icon {
    margin: 0 $ui-spacing 0 0;
  }

  &__cancel-button {
    margin: 0 0 0 $ui-spacing;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: $ui-spacing;
  }

  &__wrapper {
    background: $input-bg;
    position: relative;
    margin: 0;
    flex: 1;
    height: $ui-height-min--mobile;
    border-radius: $ui-radius;

    @include respond-above(xs) {
      height: $ui-height-min;
    }

    &--without-outline {
      border: 1px solid $color-light-grey;
    }

    &--with-outline {
      border: 1px solid var(getThemeColor('primary'));
      box-shadow: inset 0 0 0 1px var(getThemeColor('primary'));
    }
  }

  &__input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    line-height: $ui-height-min--mobile;
    text-indent: $input-padding;
    padding: 0 $clear-size + (2 * $input-padding) 0 0;

    @include respond-above(xs) {
      line-height: $ui-height-min;
    }
  }

  &__clean {
    position: absolute;
    right: ($clear-size / 2) + $input-padding;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
    font-size: $clear-size;
    width: $clear-size * 1.5;
    height: $clear-size * 1.5;
    border-radius: 50%;

    &:hover, &:focus {
      box-shadow: inset 999em 0 0 0 rgba(white, .9);
      background: var(getThemeColor('primary'));
      color: var(getThemeColor('dark'));
    }
  }
}
