.Search {
  &__results-pane {
    background: #eee;
    min-height: 60vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include respond-above(sm) {
      min-height: 60vw;
    }

    @include respond-above(md) {
      min-height: 50vw;
    }
  }
}
