.Search {
  &__results-pane {
    min-height: 60vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &--top-align {
      align-items: flex-start;
    }

    @include respond-above(sm) {
      min-height: 60vw;
    }

    @include respond-above(md) {
      min-height: 50vw;
    }
  }

  &__auto-sizer {
    &--expand-with-results {
      height: auto !important;
    }
  }
}
