.OmniButton {
  $me: &;

  display: flex;
  align-items: center;
  max-width: 100%;

  &__icon {
    flex-shrink: 0;
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    text-align: left;
  }

  #{$me}__icon + #{$me}__content {
    padding-left: .25em;
  }
}