.prism__root-container{
  max-width: 1080px;
  margin:0 auto;
  position: relative;
}

.prism-nav-btn {
  border: none;
  background: #eee;
  display: inline-block;
  color: black;
  padding: 1em;
  border-radius: 3px;
  margin-right: 2px;
  text-decoration: none;
  font-size: small;

  &:hover, &:focus {
    background: #ddd;
  }

  &--active {
    &, &:focus {
      background: #222;
      color: white;
    }
  }
}
