.zoom-tool {
  &__wrapper {
    display: flex;
    width: 100%;
    &> span {
      display: block;
      float: left;
      font-size: .75em;
      line-height: 1.5;
      text-align: center;
      width: 13%;
    }
  }
  &__zoom-slider {
  display: block;
  float: left;
  height: 15px;
  margin: 0 3%;
  position: relative;
  width: 70%;
  &:before {
    background: var(getThemeColor('white'));
    border: 1px solid var(getThemeColor('light.lighter'));
    content: '';
    display: block;
    height: 6px;
    margin: 0 2%;
    position: absolute;
    top: 4px;
    width: 96%;
  }
  }
  &__zoom-slider-circle {
    background: var(getThemeColor('secondary'));
    border: 1px solid var(getThemeColor('secondary'));
    border-radius: 50%;
    color: var(getThemeColor('white'));
    display: inline-block;
    line-height: 15px;
    position: relative;
    width: 15px;
    height: 15px;
  }
}
