@import 'src/scss/convenience/_keyframe-animations.scss';

.prism-loader-circle {
  $dashDuration: 1.8s;
  $times: 5;
  $rotateDuration: $dashDuration / 5 * 3;
  $strokeColorDuration: ($dashDuration * 2) * $times;

  @keyframes strokeColor {
    0% {
      color: var(getVarName('loaders.circle.color1'));
      stroke: var(getVarName('loaders.circle.color1'));
    }
    20% {
      color: var(getVarName('loaders.circle.color2'));
      stroke: var(getVarName('loaders.circle.color2'));
    }
    40% {
      color: var(getVarName('loaders.circle.color3'));
      stroke: var(getVarName('loaders.circle.color3'));
    }
    60% {
      color: var(getVarName('loaders.circle.color4'));
      stroke: var(getVarName('loaders.circle.color4'));
    }
    80% {
      color: var(getVarName('loaders.circle.color5'));
      stroke: var(getVarName('loaders.circle.color5'));
    }
    100% {
      color: var(getVarName('loaders.circle.color1'));
      stroke: var(getVarName('loaders.circle.color1'));
    }
  }

  @keyframes dashAdjust {
    0% {
      stroke-dasharray: var(getVarName('loaders.circle.beginDash')) var(getVarName('loaders.circle.beginGap'));
    }
    100% {
      stroke-dasharray: var(getVarName('loaders.circle.endDash')) var(getVarName('loaders.circle.endGap'));
    }
  }

  animation: fadeOpacityIn 1s, rotate $rotateDuration infinite linear;
  display: block;
  font-size: 30px;
  height: auto;
  margin: auto;
  max-height: 90%;
  max-width: 90%;
  opacity: 1;
  stroke: currentColor;
  width: 1em;

  &--inherit {
    font-size: inherit;
  }

  &__circle {
    color: var(getVarName('theme.colors.primary'));
    animation: strokeColor $strokeColorDuration infinite cubic-bezier(0.075, 0.820, 0.165, 1.000), dashAdjust $dashDuration infinite alternate cubic-bezier(0.390, 0.575, 0.565, 1.000);
    stroke: var(getVarName('theme.colors.primary'));
    stroke-linecap: round;
  }
}