// --------------------------------------------------------------------------------
// BEGIN VARIABLE PARSING METHODS
// --------------------------------------------------------------------------------

// worker method; accepts a dot.separated.string to split as well as a function to call for fetching a set of external vars
@function _getVarWorker( $values, $fn ) {
  $resolved: call( get-function( $fn ), $values );

  @return $resolved;
}

// accepts dot.separated.string that resolves to a value within variables.js -> varValues
// ex: getVar( "typography.font" ) will resolve to the value of varValues.typography.font
@function getVar( $values ) {
  // differentiated via the name of the external method (_getVar) created in webpack Sass config
  $resolved: _getVarWorker( $values, "_getVar" );

  @if $resolved == null {
    @error "\"#{ $values }\" cannot be resolved to an external variable";
  }

  @return $resolved;
}

// accepts dot.separated.string that resolves to a CSS Variable name within variables.js -> varNames
// ex: getVarName( "scenes.buttons.colors.primary" ) will resolve to the value of varNames.scenes.buttons.colors.primary
@function getVarName( $values ) {
  // differentiated via the name of the external method (_getVarName) created in webpack Sass config
  $resolved: _getVarWorker( $values, "_getVarName" );

  @if $resolved == null {
    @error "\"#{ $values }\" cannot be resolved to an external variable name";
  }

  @return $resolved;
}

// accepts dot.separated.string that resolves to a CSS Variable name derived from available theme colors in themeColors.js
// ex: getThemeColor( "primary.lighter" ) will resolve to --prism-theme-color-primary-lighter
@function getThemeColor( $values ) {
  // differentiated via the name of the external method (_getVarName) created in webpack Sass config
  $resolved: _getVarWorker( $values, "_getThemeColor" );

  @if $resolved == null {
    @error "\"#{ $values }\" cannot be resolved to an external variable name";
  }

  @return $resolved;
}

// --------------------------------------------------------------------------------
// END VARIABLE PARSING METHODS
// --------------------------------------------------------------------------------
