$bloom-duration: 200ms;
$swatch-edge-padding-value: .4rem;
$swatch-border-size: 1px;
$swatch-base-size: 50px;
$bloom-scale-main-sm: 2.66;
$bloom-scale-main-lg: 3.00;
$swatch-edge-padding-sm: calc(#{$swatch-edge-padding-value} + #{$bloom-scale-main-lg * $swatch-border-size});
$swatch-edge-padding-lg: calc(#{$swatch-edge-padding-value} + #{$bloom-scale-main-lg * $swatch-border-size});

@keyframes fadeIn { from { opacity: 0; } 50% { opacity: 0; } to { opacity: 1;} }

@mixin bloom($small-screen-scale-amt, $large-screen-scale-amt, $z) {
    z-index: $z !important;
    transform: scale($small-screen-scale-amt);
    transition: transform $bloom-duration;
    @include respond-above(sm) { transform: scale($large-screen-scale-amt); }
}

.color-swatch {
  border: $swatch-border-size solid #fff;
  outline-offset: 0px;

  &--focus, &:focus { z-index: 2; }

  &-0 {
    @include bloom($bloom-scale-main-sm, $bloom-scale-main-lg, 900);

    + .color-swatch__content {
      transform: translate3d(-(($swatch-base-size * ($bloom-scale-main-sm - 1)) / 2), -(($swatch-base-size * ($bloom-scale-main-sm - 1)) / 2), 0);
      height: $swatch-base-size * $bloom-scale-main-sm !important;
      width: $swatch-base-size * $bloom-scale-main-sm !important;

      @include respond-above(sm) {
        transform: translate3d(-(($swatch-base-size * ($bloom-scale-main-lg - 1)) / 2), -(($swatch-base-size * ($bloom-scale-main-lg - 1)) / 2), 0);
        height: $swatch-base-size * $bloom-scale-main-lg !important;
        width: $swatch-base-size * $bloom-scale-main-lg !important;
      }
    }
  }

  &-n0-5 { @include bloom(2.00, 2.36, 750); }

  &-n1 { @include bloom(2.00, 2.08, 700); }

  &-n1-5 { @include bloom(1.41, 1.74, 650); }

  &-n2 { @include bloom(1.30, 1.41, 600); }

  &-flat {
    transform: scale(1);
    z-index: 1;
    transition: transform $bloom-duration, z-index 10ms;
  }

  &__flag {
    background: url('~src/images/swatch/dogear.png') no-repeat;
    background-size: contain;
    height: 0.5em;
    position: absolute;
    top: 0;
    width: 100%;

    @include respond-above(sm) { font-size: .75em; }
  }

  &__content {
    z-index: 950 !important;
    padding: $swatch-edge-padding-sm;
    animation: fadeIn $bloom-duration $bloom-duration;
    text-align: left;

    @include respond-above(sm) {
      padding: $swatch-edge-padding-lg;
    }

    &--focus:focus { outline: 5.5px solid var(getThemeColor('primary')) !important; }

    &__name {
      font-weight: bold;
      max-width: 100%;
      overflow-wrap: break-word;
      hyphens: auto;
      font-size: .9em;

      @include respond-above(sm) {
        font-size: 1em;
      }
    }

    &__number {
      opacity: $color-near-opacity;
      font-size: .7em;
      margin-bottom: 0.3em;

      @include respond-above(sm) {
        font-size: .8em;
        margin-bottom: 0.4em;
      }
    }

    &__cta {
      position: absolute;
      bottom: 1em;
      color: inherit;
      cursor: pointer;
      background: none;
      border: none;
      margin: 0;
      box-shadow: none;
      opacity: $color-near-opacity;
      transition: all .2s;
      text-align: center;

      &:hover, &:focus, &--focus { opacity: 1; }

      &--focus, &:focus { outline: $cw-focus-outline; }

      &--l { left: 0.5em; }

      &--r { right: 0.5em; }
    }

    &-message {
      background: var(getThemeColor('white'));
      border-radius: 2px;
      bottom: $swatch-edge-padding-sm;
      color: var(getThemeColor('black'));
      font-size: 0.5em;
      font-weight: bold;
      left: $swatch-edge-padding-sm;
      line-height: 1.2;
      padding: 3px 4px;
      position: absolute;
      right: $swatch-edge-padding-sm;

      @include respond-above(sm) {
        bottom: $swatch-edge-padding-lg;
        font-size: 0.625em;
        left: $swatch-edge-padding-lg;
        right: $swatch-edge-padding-lg;
      }
    }

    &--dark-color { color: var(getThemeColor('primary.contrast.trans')); }

    .add-icon, .check-icon {
      width: 22px;
      height: 22px;
    }
  }

  &__button-group {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: $swatch-edge-padding-sm;
    position: absolute;
    width: 100%;

    @include respond-above(sm) {
      padding: $swatch-edge-padding-lg;
    }

    button {
      display: flex;
      align-items: center;
    }
  }
}

.OmniButton__content {
  padding-left: .3em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
}

