@function getFontSizeByScale ($scale) {
  @return $base / $scale;
}

@mixin scaleAndFontSizeCounterscale($scale) {
  transform: scale($scale);
  font-size: getFontSizeByScale($scale);
}

@keyframes scale130 { to { @include scaleAndFontSizeCounterscale(1.30); } }
@keyframes scale141 { to { @include scaleAndFontSizeCounterscale(1.41); } }
@keyframes scale174 { to { @include scaleAndFontSizeCounterscale(1.74); } }
@keyframes scale200 { to { @include scaleAndFontSizeCounterscale(2.00); } }
@keyframes scale208 { to { @include scaleAndFontSizeCounterscale(2.08); } }
@keyframes scale236 { to { @include scaleAndFontSizeCounterscale(2.36); } }
@keyframes scale250 { to { @include scaleAndFontSizeCounterscale(2.50); } }
@keyframes scale275 { to { @include scaleAndFontSizeCounterscale(2.75); } }

@keyframes fadeIn { 50% { opacity: 0; } to { opacity: 1;} }

@mixin bloom($small-screen-animation, $large-screen-animation, $z) {
  z-index: $z !important;
  animation: $small-screen-animation 0.2s forwards;
  @include respond-above(sm) { animation: $large-screen-animation 0.2s forwards; }
}

.color-swatch {
  border: 1px solid #fff;
  font-size: getFontSizeByScale(1);
  outline-offset: 0px;

  &:focus { z-index: 1; }

  &-0 { @include bloom(scale250, scale275, 900); }
  &-n0-5 { @include bloom(scale200, scale236, 750); }
  &-n1 { @include bloom(scale200, scale208, 700);  }
  &-n1-5 { @include bloom(scale141, scale174, 650); }
  &-n2 { @include bloom(scale130, scale141, 600); }

  &__flag {
    background-image: url('~src/images/swatch/dogear.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 16%; // this is a magic number
    left: 0;
    font-size: .65em;
    max-height: 1em;
    min-height: .5em;
    position: absolute;
    top: 0;
    width: 100%;

    @include respond-above(sm) {
      font-size: .75em;
    }
  }

  &__content {
    z-index: 950 !important;
    text-align: left;
    line-height: 1;
    padding: 0.5em;
    opacity: 0;
    animation: fadeIn 0.3s forwards .2s;

    &--raised {
      height: 123px !important;
      width: 123px !important;
      transform: translate3d(-36px, -36px, 0);
      &--focus, &:focus { outline: 5.5px solid getVar('colors.primary') !important; }

      @include respond-above(sm) {
        height: 135px !important;
        width: 135px !important;
        transform: translate3d(-42px, -42px, 0);
      }
    }

    &__name {
      font-weight: bold;
      max-width: 100%;
      overflow-wrap: break-word;
      hyphens: auto;
    }

    &__number {
      opacity: $color-near-opacity;
      font-size: .7em;
      margin-bottom: 0.3em;

      @include respond-above(sm) {
        font-size: .8em;
        margin-bottom: 0.4em;
      }
    }

    &__cta {
      position: absolute;
      bottom: 1em;
      color: inherit;
      cursor: pointer;
      background: none;
      border: none;
      margin: 0;
      box-shadow: none;
      opacity: $color-near-opacity;
      transition: all .2s;
      text-align: center;

      &:hover, &:focus, &--focus { opacity: 1; }

      &--focus, &:focus { outline: $cw-focus-outline; }

      &--l { left: 0.5em; }

      &--r { right: 0.5em; }
    }

    &__message {
      background: white;
      bottom: 3px;
      border-radius: 2px;
      color: black;
      font-size: 0.5em;
      font-weight: bold;
      left: 3px;
      padding: 3px 4px;
      position: absolute;
      right: 3px;
      line-height: 1.2;

      @include respond-above(sm) { font-size: 0.625em; }
    }

    &--dark-color { color: rgba(white, .9); }

    .OmniButton {
      display: flex;
      align-items: center;
      max-width: 100%;

      &__icon { flex-shrink: 0; }

      &__content {
        padding-left: .25em;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;
        text-align: left;
      }
    }
  }
}