$bloom-duration: 200ms;

@keyframes fadeIn { from { opacity: 0; } 50% { opacity: 0; } to { opacity: 1;} }

@mixin bloom($small-screen-scale-amt, $large-screen-scale-amt, $z) {
    z-index: $z !important;
    transform: scale($small-screen-scale-amt);
    transition: transform $bloom-duration;
    @include respond-above(sm) { transform: scale($large-screen-scale-amt); }
}

.color-swatch {
  border: 1px solid #fff;
  outline-offset: 0px;

  &--focus, &:focus { z-index: 2; }

  &-0 { @include bloom(2.50, 2.75, 900); }

  &-0 + .color-swatch__content {
    transform: translate3d(-36px, -36px, 0);
    height: 123px !important;
    width: 123px !important;
    @include respond-above(sm) {
      transform: translate3d(-42px, -42px, 0);
      height: 135px !important;
      width: 135px !important;
    }
  }

  &-n0-5 { @include bloom(2.00, 2.36, 750); }

  &-n1 { @include bloom(2.00, 2.08, 700); }

  &-n1-5 { @include bloom(1.41, 1.74, 650); }

  &-n2 { @include bloom(1.30, 1.41, 600); }

  &-flat {
    transform: scale(1);
    z-index: 1;
    transition: transform $bloom-duration, z-index 10ms;
  }

  &__flag {
    background: url('~src/images/swatch/dogear.png') no-repeat;
    background-size: contain;
    height: 0.5em;
    position: absolute;
    top: 0;
    width: 100%;

    @include respond-above(sm) { font-size: .75em; }
  }

  &__content {
    z-index: 950 !important;
    padding: 0.6em;
    animation: fadeIn $bloom-duration;
    text-align: left;

    &--focus, &:focus { outline: 5.5px solid var(getThemeColor('primary')) !important; }

    &__name {
      font-weight: bold;
      max-width: 100%;
      overflow-wrap: break-word;
      hyphens: auto;
    }

    &__number {
      opacity: $color-near-opacity;
      font-size: .7em;
      margin-bottom: 0.3em;

      @include respond-above(sm) {
        font-size: .8em;
        margin-bottom: 0.4em;
      }
    }

    &__cta {
      position: absolute;
      bottom: 1em;
      color: inherit;
      cursor: pointer;
      background: none;
      border: none;
      margin: 0;
      box-shadow: none;
      opacity: $color-near-opacity;
      transition: all .2s;
      text-align: center;

      &:hover, &:focus, &--focus { opacity: 1; }

      &--focus, &:focus { outline: $cw-focus-outline; }

      &--l { left: 0.5em; }

      &--r { right: 0.5em; }
    }

    &__message {
      background: var(getThemeColor('white'));
      bottom: 3px;
      border-radius: 2px;
      color: var(getThemeColor('black'));
      font-size: 0.5em;
      font-weight: bold;
      left: 3px;
      padding: 3px 4px;
      position: absolute;
      right: 3px;
      line-height: 1.2;

      @include respond-above(sm) { font-size: 0.625em; }
    }

    &--dark-color { color: var(getThemeColor('primary.contrast.trans')); }

    .add-icon {
      width: 22px;
      height: 22px;
    }
  }

  &__button-group {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
}
