.expert-color-picks {
  &__wrapper {
    padding: 0;
  }
  &__tab-list-select {
    margin: 0 auto 1em;
    padding: 0;
    position: relative;
    text-align: right;
    border-top: 1px solid #c8c8c8;
    background: #fff;
    display: table;
    width: 100%;
    &:before {
      content: '';
      display: table;
    }
    @include respond-above(sm) {
      border-width: 0;
      background-color: transparent;
    }
  }
  &__tab-list-heading {
    display: block;
    float: left;
    font-size: 1em;
    margin-left: 1em;
    padding: 1em 0;
    text-align: left;
    width: 40%;
    @include respond-above(sm) {
      display: none;
    }
  }
  &__tab-list-dropdown-mobile {
    font-weight: 700;
    color: #2cabe2;
    cursor: pointer;
    display: inline-block;
    font-size: .85em;
    line-height: 1;
    margin-right: 1em;
    padding: 1em 0;
    text-align: right;
    width: 51%;
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border: .55em solid transparent;
      border-top-color: #2cabe2;
      border-top-style: solid;
      margin-left: 1.5em;
      position: relative;
      top: .35em;
    }
    @include respond-above(sm) {
      display: none;
    }
  }
  &__tab-list {
    background: rgba(255,255,255,.9);
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    &:after {
      clear: both;
    }
    &--active {
      display: block;
    }
    &--inactive {
      display: none;
    }
    @include respond-above(sm) {
      background: 0 0;
      display: flex;
      position: relative;
      margin: 0 .75em;
      width: calc(100% - 1.5em);
    }
  }
  &__tab-list-item {
    font-weight: 700;
    background: none;
    border: none;
    color: #000;
    fill: #000;
    cursor: pointer;
    display: inline-block;
    font-size: .65em;
    line-height: 1em;
    padding: .75em .5em;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: .5em;
    flex: 1 1 auto;
    @include respond-above(sm) {
      background: #fff;
      border: 1px solid #f2f2f2;
      width: auto;

    }
    &:hover {
      border: none;
      color: #2cabe2;
      cursor: pointer;
      @include respond-above(sm) {
        border: 1px solid #2cabe2;
      }
    }
    &--active {
      background: none;
      color: #2cabe2;
      &:hover {
        border-color: #f2f2f2;
        color: #2cabe2;
        cursor: auto;
        @include respond-above(sm) {
          color: #fff;
        }
      }
      @include respond-above(sm) {
        background: #2cabe2;
        color: #fff;
      }
    }
  }
  &__tab-list-item-button {
    width: 100%;
    all: inherit;
    border: none;
    padding: 0;
    height: 100%;
  }
  &__collections-list {
    display: flex;
    justify-content: center;
  }
}
