.expert-color-picks {
  &__wrapper {
    padding: 0;
  }
  &__tab-list-select {
    margin: 0 auto 1em;
    padding: 0;
    position: relative;
    text-align: right;
    border-top: 1px solid var(getThemeColor('light'));
    background: var(getThemeColor('white'));
    display: table;
    width: 100%;
    &:before {
      content: '';
      display: table;
    }
    @include respond-above(sm) {
      border-width: 0;
      background-color: transparent;
    }
  }
  &__tab-list-heading {
    display: block;
    float: left;
    font-size: 1em;
    margin-left: 1em;
    padding: 1em 0;
    text-align: left;
    width: 40%;
    @include respond-above(sm) {
      display: none;
    }
  }
  &__tab-list-dropdown-mobile {
    font-weight: 700;
    color: var(getThemeColor('secondary'));
    cursor: pointer;
    display: inline-block;
    font-size: .85em;
    line-height: 1;
    margin-right: 1em;
    padding: 1em 0;
    text-align: right;
    width: 51%;
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border: .55em solid transparent;
      border-top-color: var(getThemeColor('secondary'));
      border-top-style: solid;
      margin-left: 1.5em;
      position: relative;
      top: .35em;
    }
    @include respond-above(sm) {
      display: none;
    }
  }
  &__tab-list {
    background: var(getThemeColor('primary.contrast.trans'));
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    &:after {
      clear: both;
    }
    &--active {
      display: block;
    }
    &--inactive {
      display: none;
    }
    @include respond-above(sm) {
      background: 0 0;
      display: flex;
      position: relative;
      margin: 0 .75em;
      width: calc(100% - 1.5em);
    }
  }
  &__tab-list-item {
    font-weight: 700;
    background: none;
    border: none;
    color: var(getThemeColor('black'));
    fill: var(getThemeColor('black'));
    cursor: pointer;
    display: inline-block;
    font-size: .65em;
    line-height: 1em;
    padding: .75em .5em;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: .5em;
    flex: 1 1 auto;
    @include respond-above(sm) {
      background: var(getThemeColor('white'));
      border: 1px solid var(getThemeColor('light.lighter'));
      width: auto;

    }
    &:hover {
      border: none;
      color: #2cabe2;
      cursor: pointer;
      @include respond-above(sm) {
        border: 1px solid var(getThemeColor('secondary'));
      }
    }
    &--active {
      background: none;
      color: var(getThemeColor('secondary'));
      &:hover {
        border-color: var(getThemeColor('light.lighter'));
        color: var(getThemeColor('secondary'));
        cursor: auto;
        @include respond-above(sm) {
          color: var(getThemeColor('white'));
        }
      }
      @include respond-above(sm) {
        background: var(getThemeColor('secondary'));
        color: var(getThemeColor('white'));
      }
    }
  }
  &__tab-list-item-button {
    width: 100%;
    all: inherit;
    border: none;
    padding: 0;
    height: 100%;
  }
  &__collections-list {
    display: flex;
    justify-content: center;
  }
}
