.expert-color-pick-button {
  &__top-section {
    min-height: 100px;
  }
  &__content__wrapper {
    padding: 14px;
    &__color-name{
      font-weight: 700;
    }
  }
}
.prism-expert-color-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
    &__title{
      text-align: center;
    }
    &__link {
      color: var(getThemeColor('secondary'));
      font-size: 0.7rem;
      font-weight: 600;
      margin: 0.7em 0 0 0;
      outline: none;
    }
  }
  &__bottom__section {
    border-top: 1px solid var(getThemeColor('white'));
    display: flex;
  }
  &__top__section &__content__wrapper {
    padding-bottom: 30%;
  }
  &__bottom__section &__content__wrapper {
    padding-bottom: 15%;
  }
  &__content__wrapper {
    flex: 50% 0 0;
    position: relative;
    padding: 1em;
    &__toggle-check-icons {
      font-size: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:focus {
        outline-style: solid;
        outline-color: var(getThemeColor('secondary'));
        outline-width: 2px;
        z-index: 100;
      }
    }
    &__color-name {
      font-weight: 700;
    }
  }
}
