.prism-live-palette {
  max-width: 990px;
  overflow: hidden;
  background-color: getVar( "colors.white" );
  border: 1px solid getVar( "colors.grey" );
  padding: $livePalette__chip-side-margin;

  &__list {
    display: flex;
    flex-grow: 1;
    margin: 0;
  }

  &__slot {
    @include chip-attributes($distribution: even);
    background-color: #ebebeb;
    position: relative;
    cursor: pointer;
    transition: width .6s ease-out, opacity .2s ease-out;
    height: 0;
    overflow: hidden;

    &--empty,
    &--add {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &--empty {
      cursor: default;
    }

    &--add {
      background-color: getVar( "colors.white" );
    }

    &--add-empty {
      width: 30%;

      .prism-live-palette__slot__copy {
        width: 75%;
        top: 50%;
        left: 5em;
        bottom: auto;
        text-align: left;
        transform: translateY(-50%);
      }

      .prism-live-palette__icon {
        left: 0.5em;
      }
    }

    &--active {
      width: 25%; // TODO: calculate actual width
      opacity: 1;

      .prism-live-palette__color-details {
        display: block;
      }
    }

    &--removing {
      opacity: 0.01;
      transition: 700ms;
    }

    &__copy {
      position: absolute;
      display: block;
      bottom: 0.75em;
      font-size: 0.7rem;
      text-decoration: none;
    }
  }

  &__icon {
    top: 50%;
    position: absolute;
    color: #000000;
    transform: translateY(-50%);
  }

  &__trash {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    color: inherit;
    background: inherit;
    border: none;
    box-shadow: none;
  }

  &__color-details {
    height: auto;
    position: static;
    padding: 0.5em;
    display: none;

    &--dark {
      color: getVar( "colors.white" );
    }
  }

  &__color-number {
    font-size: 0.8rem;
    display: block;
    color: inherit;
  }

  &__color-name {
    font-size: 0.8rem;
    font-weight: bold;
    display: block;
    color: inherit;
  }

  &__color-description {
    clip: rect(1px, 1px, 1px, 1px); // For screen readers only
    font-size: 0.7em;
    display: block;
    position: absolute;
    bottom: 0.5em;
    color: inherit;
  }
}
