.prism-live-palette {
  max-width: 100%;
  display: flex;
  overflow: hidden;
  background-color: var(getThemeColor('white'));
  padding: $livePalette__chip-side-margin;
  flex-direction: column;
  @include respond-above(sm) {
    border: 1px solid $color-grey;
    flex-direction: row;
  }
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    @include respond-above(sm) {
      display: flex;
    }
    &__name {
      display: none;
      text-align: center;
      @include respond-above(sm) {
        display: block;
        margin: 0.2em 0.5em;
      }
      @include respond-above(md) {
        margin: 0.5em;
      }
    }
    &__compare-button{
      &--hide{
        display: none;
      }
      padding: 0.5em 1em;
      margin-right: 5px;
      border-top: 1px solid #ebebeb;
      font-weight: 600;
      font-size: 16px;
      outline:none;
      border-top: 1px solid #ebebeb;
      @include respond-above(md) {
        border-top: 1px solid #ebebeb;
      }
      &:hover{
        background-color: #2cabe2;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  &__active-color {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    margin-bottom: 4px;
    @include respond-above(sm) {
      display: none;
    }
    &__details {
      display: block;
      font-size: .8rem;
      line-height: 1.2em;
      padding: 0.5em;
      &--dark {
        color: var(getThemeColor('white'));
      }
    }
    &__info-button {
      padding: 0.5em;
      display: flex;
      align-items: center;
    }
    &__color-number {
      display: block;
      font-weight: normal;
    }
    &__color-name {
      display: block;
    }
  }

  &__list {
    display: flex;
    flex-grow: 1;
    margin: 0;
  }

  &__slot {
    $lp-icon-size: 24px;

    @include chip-attributes($distribution: even);
    background-color: var(getThemeColor('light'));
    position: relative;
    transition: width .4s ease-out, opacity .1s ease-out;
    height: 0;
    overflow: inherit;
    outline: none;
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
    }
    @include respond-above(sm) {
      overflow: hidden;
    }

    &--empty {
      cursor: default;
    }

    &--add-big,
    &--add {
      cursor: pointer;

      &:focus {
        outline-style: solid;
        outline-color: var(getThemeColor('secondary'));
        outline-width: 2px;
        z-index: 100;
      }
    }

    &--add {
      background-color: var(getThemeColor('white'));
    }

    &--add-big {
      // this is what shows when LP has no colors at all
      background-color: var(getThemeColor('white'));

      @include respond-above(sm) {
        background-color: var(getThemeColor('light'));
        width: 30%;
      }
    }

    &--active {
      opacity: 1;
      position: relative;
      &:before {
        background: inherit;
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 6px;
        top: -4px;
      }
      @include respond-above(sm) {
        width: 30%; // TODO: calculate actual width
        &:before {
          display: none;
        }
      }

      .prism-live-palette__color-details {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        align-items: center;
        @include respond-above(sm) {
          position: static;
          justify-content: space-between;
        }
        .prism-live-palette__description {
          width: auto;
        }

        .prism-live-palette__button-group {
          position: relative;
          display: flex;
          width: auto;
          justify-content: space-between;
          padding: 0px;
          opacity: 0;
          animation: fadeIn 1s forwards;
          margin-top: 22%;
          @include respond-above(sm) {
            padding: 5px;
            position: absolute;
            margin-top: 0;
            right: 0;
            top: 0;
          }
        }
      }
    }

    &--removing {
      opacity: 0.01;
      transition: 700ms;
    }

    &__guts {
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      padding: 3px;

      &--hrzntl {
        @include respond-above(sm) {
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }

    &__copy {
      bottom: 0;
      display: none;
      font-size: 7px;
      text-align: center;

      @include respond-above(sm) {
        display: block;
      }

      &--right {
        text-align: left;
      }
    }

    &__icon {
      color: var(getThemeColor('light.contrast'));
      opacity: .3;
      // transform: translateX(-50%) translateY(-50%);
      width: $lp-icon-size !important;
      height: $lp-icon-size !important;
      margin: 5px;
      flex: 0 0 auto;

      &--left,
      &--top {
        opacity: 1;
      }

      &--left {
        @include respond-above(sm) {
          left: 3px;
        }
      }

      &--top {
        @include respond-above(sm) {
          top: 33%;
        }
      }
    }

    &__button {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      outline:none;
    }

    &__drag-icon-wrapper{
      position: absolute;
      width: 20px;
      height: 20px;
      right: 5px;
      bottom: 5px;
      overflow:hidden;
      &--show{
        display: none;
        @include respond-above(sm) {
          display: block;
        }
      }
      &--hide{
        display: none;
      }
      &:hover{
        cursor: grab;
      }
    }
  }

  &__info-button {
    display: none;
    @include respond-above(sm) {
      display: flex;
    }
  }

  &__trash {
    position: relative;
    display: flex;
    width: 100%;
    color: inherit;
    background: inherit;
    border: none;
    box-shadow: none;
    font-size: 20px;
    @include respond-above(sm) {
      display: flex;
      flex-direction: column;
      width: 16px;
      height: 20px;
      margin-left: 4px;
    }
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
      z-index: 100;
    }
  }

  &__color-details {
    height: auto;
    position: static;
    padding: 0em;
    display: none;
    @include respond-above(sm) {
      padding: 0.5em;
    }

    &--dark {
      color: var(getThemeColor('white'));
    }
  }

  &__color-number {
    font-size: 0.8rem;
    display: none;
    font-weight: normal;
    color: inherit;
    @include respond-above(sm) {
      display: block;
    }
  }

  &__color-name {
    font-size: 0.8rem;
    font-weight: bold;
    display: none;
    color: inherit;
    @include respond-above(sm) {
      display: block;
      width: 4em;
    }
    @include respond-above(md) {
      width: auto;
    }
  }

  &__color-description {
    clip: rect(1px, 1px, 1px, 1px); // For screen readers only
    font-size: 0.7em;
    display: none;
    position: absolute;
    bottom: 0.5em;
    color: inherit;
    @include respond-above(sm) {
      display: block;
    }
  }
}
