.prism-live-palette {
  max-width: 990px;
  overflow: hidden;
  background-color: getVar( "colors.white" );
  border: 1px solid getVar( "colors.grey" );

  &__list {
    display: flex;
    flex-grow: 1;
    margin: 0;
  }

  &__slot {
    @include chip-attributes($distribution: even);
    background-color: #ebebeb;
    position: relative;
    cursor: default;
    transition: width .6s;
    height: 0;

    &__details {
      display: none;
    }

    &--empty,
    &--add {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &--active {
      width: 25%; // TODO: calculate actual width
      
      .prism-live-palette__slot__details {
        display: block;
      }
    }
  }
}
