@import '../../constants';

.JSFMainPage {
  &__dropzone {
    background: lightblue;
    border: 2px dotted blue;
    display: block;
    flex: 1;
    margin: .5em;
    max-width: $jsf-content-max-width;
    padding: 2em;
    text-align: center;

    &--active {
      background: lightgreen;
    }
  }
}