@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local( 'Raleway Light' ), local( 'Raleway-Light' ), url( /src/fonts/raleway100.woff2 ) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local( 'Raleway Light' ), local( 'Raleway-Light' ), url( /src/fonts/raleway300.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local( 'Raleway' ), local( 'Raleway-Regular' ), url( /src/fonts/raleway400.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local( 'Raleway Bold' ), local( 'Raleway-Bold' ), url( /src/fonts/raleway700.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local( 'Raleway Black' ), local( 'Raleway-Black' ), url( /src/fonts/raleway900.woff2 ) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ------------------ ############ GENERAL ############ ------------------ */
* {
  box-sizing: border-box;
}

#app-wrapper {
  background-color: #fff;
  height: 100%;
  margin: 0 auto;
  max-height: 1280px;
  max-width: 1940px;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.color-set-wrapper,
.color-list__button,
.scene,
.scene__room,
.scene__room-wrapper,
.scene__room__tinted-wrapper,
.scene__color-info-wrapper,
.scene__color-info-copy-wrapper,
.scene__color-info {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.center-content {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

/* ------------------ ############ VARIABLES ############ ------------------ */
body {
    --light-cream: #dfdfde;
    --dark-brown: rgb(34, 32, 26);
    --trans-time-short: 0.5;
    --tintedSceneFilter: initial;
    --sceneTintColor: #fff;
    --default-border-radius: 1.1vmin;
    --grid-gap: 0.15vw;
    --color-set-wrapper-padding: 0.6vmin;
    --filter-list-title-padding: 0.5vmin 0.55vmin;
    --filter-list-wrapper-margin-top: 1.65vmin;
    --filter-list-height: 10vmin;
    --filter-list-copy-margin: 1vmin 0.75vmin 1vmin;
    --filter-list-title-font-size: calc( 13px + 0.75vmin );
    --filter-list-copy-font-size: calc( 11px + 0.75vmin );
}
