.scene-picker-btn {
  @include variable(background-color, getVarName( "scenes.buttons.colors.default" ), getVar( "colors.secondary" ) );
  width: 150px;
  height: 50px;
  margin-right: 1em;

  &:hover, &:focus {
    @include variable(background-color, getVarName( "scenes.buttons.colors.active" ), getVar( "colors.secondary" ) );
  }
}