$base: getVar("base") !default;
$spacing: getVar("spacing") !default;
$breakpoints: getVar("breakpoints") !default;
$colors: getVar("colors") !default;

$color-near-opacity: 0.9;
$color-near-black: rgba(0, 0, 0, $color-near-opacity);
$color-black: getVar( "colors.black" );
$color-near-white: rgba(255, 255, 255, $color-near-opacity);
$color-white: getVar( "colors.white" );
$color-light-grey: getVar( "colors.lightGrey" );
$color-swBlue: getVar( "colors.swBlue" );

// COLOR WALL
$cw-chunk-outline-offset: 6px;
$cw-focus-outline-size: 2px;
$cw-focus-outline: $cw-focus-outline-size solid getVar('colors.primary');

// UI
$ui-height-min: 38px;
$ui-height-min--mobile: 44px;
$ui-spacing: $base / 2;
$ui-radius: $base / 4;