$base: getVar("base") !default;
$spacing: getVar("spacing") !default;
$breakpoints: getVar("breakpoints") !default;
$colors: getVar("colors") !default;

$color-near-black: #2e2e2e;
$color-white: #ffffff; 