.color-wall-wrap {
  &__chunk {
    padding: 0 $ui-spacing;
  }
  &__search-bar {
    border-bottom: 1px solid #ADADAD;
  }
}

.color-search {
  background-color: white;

  &__title {
    margin: .9rem .9rem 0;
    padding-bottom: .5rem;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.5rem;
    border-bottom: 1px solid #ADADAD;
  }

  &__container {
    height: calc(100vh - 6.7rem);
    overflow: scroll;

    @include respond-above(sm) {
      height: calc(100vh - 6.3rem);
    }

    @include respond-above(md) {
      height: 650px;
    }
  }

  &__margin-bottom {
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 100%;
    background-color: white;
  }
}