<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">
    <title>LAD Color Visualizer</title>
</head>

<body>
<div prism-auto-embed
     data-react-component="ColorVisualizer"
     data-color-wall-bg-color="#FFF"
     data-language="es-AR"
     data-page-root="/cvw"
     data-route-type="hash"
     data-selected-color-family="red"
     data-max-scene-height="640"
     data-brand="easy"></div>

<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "/embed.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'prism-widget'));
</script>

</body>

</html>
