.collection__summary {
  &__top-section {
    min-height: 100px;
    &__image {
      width: 100%;
      height: auto;
    }
  }
}

.color-collections {
  &__wrapper {
    padding: 0;
  }
  &__tab-list-select {
    display: flex;
    align-items: baseline;
    border-top: 1px solid var(getThemeColor('light.darker'));
    background: var(getThemeColor('white'));
    @include respond-above(sm) {
      border-width: 0;
      background-color: transparent;
    }
  }
  &__tab-list-heading {
    flex: 1;
    margin-left: 1em;
    padding: 1em 0;
    font-size: .9em;
    @include respond-above(sm) {
      display: none;
    }
  }
  &__tab-list-dropdown-mobile {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: .2em;
    padding: 1em;
    color: var(getThemeColor('secondary'));
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border: .55em solid transparent;
      border-top-color: var(getThemeColor('secondary'));
      border-top-style: solid;
      margin-left: 1.5em;
      position: relative;
      top: .20em;
    }
    &:focus-visible {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
      z-index: 100;
    }
    @include respond-above(sm) {
      display: none;
    }
  }
  &__tab-list {
    background: var(getThemeColor('buttonBgColor.trans'));
    border: 1px solid var(getThemeColor('buttonBorder'));
    display: block;
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 3;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    &:after {
      clear: both;
    }
    &--active {
      display: block;
    }
    &--inactive {
      display: none;
    }
    @include respond-above(sm) {
      background: 0 0;
      display: flex;
      position: relative;
      margin: 0 .75em 1em;
      width: calc(100% - 1.5em);
      border-top: none;
      border-bottom: none;
    }
  }
  &__tab-list-item {
    background: none;
    border: none;
    color: var(getThemeColor('buttonColor'));
    fill: currentColor;
    cursor: pointer;
    display: block;
    font-size: .65em;
    line-height: 1em;
    padding: 1em .5em;
    text-align: center;
    height: auto;
    margin-bottom: .5em;
    flex: 1 1 auto;
    text-transform: var(getVarName('typography.buttonTextTransform'));
    font-weight: var(getVarName('typography.buttonFontWeight'));
    margin: 1px;
    z-index: 0;

    @include respond-above(sm) {
      background: var(getThemeColor('buttonBgColor'));
      border: 1px solid var(getThemeColor('buttonBorder'));
      padding: .75em .5em;
      width: auto;
      margin: 0 -1px 0 0;
      display: inline-block;

      &:first-child {
        margin-left: -1px;
      }
    }

    &:hover {
      border: none;
      color: var(getThemeColor('buttonHoverColor'));
      background: var(getThemeColor('buttonHoverBgColor'));
      cursor: pointer;
      @include respond-above(sm) {
        border: 1px solid var(getThemeColor('buttonHoverBorder'));
        z-index: 1;
      }
    }
    &:focus {
      outline-style: solid;
      outline-color: var(getThemeColor('secondary'));
      outline-width: 2px;
      z-index: 100;
    }
    &--active {
      background: var(getThemeColor('buttonActiveBgColor')) !important;
      color: var(getThemeColor('buttonActiveColor')) !important;

      &:hover {
        cursor: auto;
      }
    }
  }
  &__tab-list-item-button {
    width: 100%;
    all: inherit;
    border: none;
    padding: 0;
    height: 100%;
  }
  &__collections-list {
    display: flex;
    justify-content: center;
  }
}
