.cvw-help {
  &__wrapper {
    display: flex;
    font-weight: 400;
    padding: 1em 0em 0em;
  }
  &__tabs-container {
    display: none;
    position: static;
    &__list {
      background: var(getThemeColor('white'));
      border-top: 1px solid var(getThemeColor('light'));
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      &__item {
        $me: &;
        align-items: center;
        cursor: pointer;
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
        outline-style: none;
        padding: 0;
        text-align: center;
        position: relative;
        border-right: 1px solid var(getThemeColor('light'));

        &:focus {
          outline-color: var(getThemeColor('secondary'));
          outline-style: solid;
          outline-width: 2px;
        }

        & + #{$me} {
          border-top: 1px solid var(getThemeColor('light'));
        }

        &--active {
          background: var(getThemeColor('secondary'));
          color: var(getThemeColor('secondary.contrast'));
          outline-style: none;
          transition: all 200ms;
          &:after {
            border: 1em solid transparent;
            border-left-color: var(getThemeColor('secondary'));
            border-left-style: solid;
            border-left-width: .75em;
            content: '';
            display: inline-block;
            height: 0;
            right: 1px;
            transform: translateX(100%);
            position: absolute;
            width: 0;
            z-index: 1;
          }
        }

        &--inactive {
          outline-style: none;
          &:focus {
            outline-color: var(getThemeColor('secondary'));
            outline-style: solid;
            outline-width: 2px;
          }
          &:visited {
            outline-style: none;
          }
        }
      }
    }

    @include respond-above(sm) {
      display: flex;
      width: 20%;
    }
  }
  &__content-wrapper {
    height: 675px;
    outline: none;
    overflow: auto;
    position: relative;
    width: 100%;
    @include respond-above(sm) {
      width: 80%;
    }
  }
  &__help-content {
    display: block;
    float: right;
    padding: 1em 2em;
    &--hide {
      display: none;
      @include respond-above(sm) {
        display: block;
      }
    }
  }
  &__content-header {
    display: block;
    flex-direction: column;
    margin-bottom: 2em;
    text-align: center;
    & > h2 {
      color: var(getThemeColor('secondary'));
      display: block;
      font-size: 1.75em;
      font-weight: 400;
      line-height: 2.2rem;
      padding-bottom: 2rem;
      text-transform: var(getVarName('typography.titleTextTransform'));
    }
    & > span {
      display: block;
      font-family: var(getVarName('typography.bodyFontFamily'));
    }
  }
  &__content-details {
    display: block;
  }
  &__subcontent {
    display: none;
    @include respond-above(sm){
      display: block;
    }
  }
  &__subContent-header {
    color: #2cabe2;
    display: block;
    font-size: 1.35em;
    font-weight: 400;
    line-height: 1.62em;
    text-align: center;
  }
  &__subContent-details {
    margin: .5em 0;
    text-align: center;
  }
  &__help-icons {
    list-style-type: none;
    text-align: center;
    & > li {
      margin: 0 5% 2em;
      @include respond-above(sm){
        float: left;
        text-align: left;
        width: 39%;
      }
    }
    & > li:nth-child(odd) {
      @include respond-above(sm){
        clear: left;
      }
    }
  }
  &__help-images {
    display: none;
    list-style-type: none;
    position: relative;

    &__i {
      display: block;
      max-width: 100%;
    }

    &__cell {
      display: block;
      position: relative;
      z-index: 1;
      opacity: 0;

      &--base {
        opacity: 1;
      }

      &--overlay {
        top: 0;
        position: absolute;
      }

      &--1 {
        opacity: 1;
        transition: opacity 1s 1s;
      }
      &--2 {
        opacity: 1;
        transition: opacity 1s 2s;
      }
      &--3 {
        opacity: 1;
        transition: opacity 1s 3s;
      }
      &--4 {
        opacity: 1;
        transition: opacity 1s 4s;
      }
      &--5 {
        opacity: 1;
        transition: opacity 1s 5s;
      }
      &--6 {
        opacity: 1;
        transition: opacity 1s 6s;
      }
    }
    @include respond-above(sm){
      display: block;
    }
  }
  &__help-images-mobile {
    display: block;
    & > li {
      list-style-type: none;
    }
    & > li > img {
      width: 100%;
    }
    @include respond-above(sm){
      display: none;
    }
  }
  &__icon-wrap {
    display: inline-block;
    padding-left: 0em;
    @include respond-above(sm){
      display: block;
      padding-left: 2em;
    }
    & > svg {
      float: left;
    }
  }
  &__icon-wrap-undoredo {
    padding-left: 1em;
  }
  &__icon-info {
    margin: 2em;
    @include respond-above(sm){
      margin: 0 0 0 5em;
    }
    & > h3 {
      color: #333;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.2em;
      margin-bottom: .5em;
      padding: 0;
    }
    & > p {
      font-family: var(getVarName('typography.bodyFontFamily'));
    }
  }
  &__second-icon {
    margin-top: 6px;
  }
}
