.cvw__root-container {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  &__nav-wrapper {
    display: block;
    &--hide {
      display: none;
    }
    &--hide-my-ideas {
      display: none;
      @include respond-above(sm) {
        display: block;
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &--priority {
      flex-basis: 86%;
    }
    &--secondary {
      display: flex;
      flex-basis: 14%;
      justify-content: space-around;
    }
  }
}

.cvw-nav-btn {
  border: none;
  color: black;
  display: inline-block;
  height: 96%;
  margin-right: 2px;
  padding: 13% 6% 5%;
  position: relative;
  text-decoration: none;
  @include respond-above(xs) {
    padding: 1.2em 1em;
  }
  @include respond-above(sm) {
    padding: 1.2em 1.7em 0.8em 2em;
  }
  &:after {
    background: #2cabe2;
    bottom: 0;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    transition: height .3s;
    width: 100%;
  }
  &:hover {
    color: #2cabe2;
    &:after {
      height: 6px;
      transition: height .3s;
    }
    // & > div:first-child{
    //   height: 10%;
    //   transition: all 0.3s;
    //   background: #2cabe2;
    // }
  }
  &:focus {
    outline-style: solid;
    outline-color: #2cabe2;
    outline-width: 2px;
    z-index: 100;
  }
  &--active{
    color:#fff;
    &:hover{
      color:#fff;
      & > div:first-child{
        height: 96%;
        background: #2cabe2;
      }
    }
  }
}

.cvw__btn-overlay {
  position: absolute;
  background: #fff;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
  &--active {
    background-color: #2cabe2;
    animation: slide-up 0.3s;
    height: 96%;
    color: #fff;
  }
  &--last--active {
    background-color: #2cabe2;
    animation: slide-down 0.3s;
    height: 0%;
  }
  &__svg {
    display: none;
    @include respond-above(sm) {
      display: inline-block;
      margin-right: 1em;
    }
    &--brush {
      background-color: white;
      margin-left: -22px;
    }
    &--plus-circle {
      margin-left: -30px;
      margin-bottom: 2px;
    }
    &--square {
      background-color: white;
    }
    &--square-small {
      background-color: white;
      margin-right: -18px;
      margin-bottom: 2px;
    }
    &--square-xsmall {
      background-color: white;
      margin-right: -16px;
      margin-bottom: 2px;
    }
    &--active {
      background-color: #2cabe2;
    }
  }
}

.cvw__root-wrapper {
  position: relative;
}

.nav__dropdown-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  cursor: pointer;
  overflow-y: scroll;
}

.cvw-navigation-wrapper {
  display: flex;
  position: relative;
  justify-content: left;
  border-top: 1px solid #d4cfcf;
  border-bottom: 1px solid #d4cfcf;
  @include respond-above(md) {
    justify-content: center;
  }
  &__center {
    align-items: center;
    display: flex;
    margin-left: 2%;
    text-align: left;
    max-width: 68%;
    z-index: 1000;
    @include respond-above(xs) {
      margin-left: 0;
      max-width: 75%;
      text-align: center;
    }
    @include respond-above(md) {
      width: auto;
    }
    & > li {
      position: relative;
      &:after {
        border-left: 1px solid #c8c8c8;
        content: '';
        display: block;
        height: 70%;
        position: absolute;
        right: 0;
        top: 15%;
        @include respond-above(xs) {
          display: none;
        }
      }
    }
    & > li:last-child > a {
      @include respond-below(xs) {
        width: 85%;
      }
    }
    & > li:nth-last-child(1) {
      &:after {
        display: none;
      }
    }
  }
  &__right {
    align-items: center;
    display: flex;
    font-size: small;
    font-weight: bold;
    height: 100%;
    justify-content: flex-end;
    right: 1%;
    position: absolute;
    width: 29%;
    @include respond-above(sm) {
      width: 30%;
    }
    & > li {
      align-items: center;
      display: inline-flex;
      height: 100%;
      text-align: center;
      width: 100%;
      @include respond-above(xs) {
        width: auto;
      }
    }
    & > li > a {
      margin-top: 1px;
      padding: 1.4em 0.5em;
      @include respond-above(sm) {
        padding: 1.2em 2em 0.8em 2em;
      }
    }
    & > li:first-child > a {
      @include respond-below(xs) {
        padding: 0.5em;
        width: 80%;
      }
    }
    &__text {
      line-height: 1.5em;
    }
  }
}

@keyframes slide-up {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes slide-down {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.cvw__modal {
  position: absolute;
  top: 40%;
  left: 50%;
  min-height: 170px;
  background-color: #d40000;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  transform: translate(-50%, -50%);
  z-index: 99999;
  &__overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99998;
    cursor: pointer;
  }
  &__title {
    text-align: center;
    line-height: 1.5em;
    padding: 1em;
  }
  &__mini-image {
    width: 120px;
    height: 90px;
    margin: 0 auto;
    & > canvas {
      // width: 20% !important; // use important to override the inline style which build in canvas of mergeCanvas compoenent
      position: relative !important;
      left: 0 !important;
      top: 0 !important;
      margin: 8px auto;
    }
  }
  &__action--btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1em;
    & > div {
      padding: 10px;
      color: #fff;
      border: 1px solid #fff;
      margin: 0 10px;
      width: 5em;
      text-align: center;
      &:hover {
        cursor: pointer;
        color: #d40000;
        background-color: rgba(255, 255, 255, 0.8);
      }
      &:last-child {
        border: 1px solid #2cabe2;
        color: #2cabe2;
        background-color: rgba(255, 255, 255, 0.8);
        &:hover{
          border:1px solid #fff;
          cursor: pointer;
          color: #d40000;
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
