.auto-scroll {
  max-width: 100%;
  overflow: auto;
}

.no-list {
  margin: 0;
  padding: 0;
  list-style: none;

  & > ul,
  & > li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/* ------------------ ############ ANY ELEMENT ############ ------------------ */
.visually-hidden {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px) !important;  /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  margin: 0 !important;
  letter-spacing: -1em;
  z-index: -1;
}

.clickable {
  &:not([disabled]) {
    cursor: pointer;
  }
}

disabled,
.disabled {
  cursor: default;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-weight {
  &--bold {
    font-weight: bold;
  }
}

/* ------------------ ############ FORM ELEMENTS ############ ------------------ */
.unstyled-button {
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: normal;
  width: auto;
  overflow: visible;
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}