.visually-hidden {
  background: white !important;
  border: 0 !important;
  clip-path: rect(1px, 1px, 1px, 1px) !important;
  clip: rect(1px 1px 1px 1px) !important;  /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px) !important;
  color: black !important;
  height: 1px !important;
  letter-spacing: -1em;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  z-index: -1;
}